atendechatwhatsapppost-SxYstS4l7KyVCMOY
{"createdAt":"2025-10-01T22:38:52.230Z","updatedAt":"2025-10-02T21:43:06.000Z","id":"SxYstS4l7KyVCMOY","name":"AtendeChatWhatsappPost","active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.key.remoteJid }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[800,528],"id":"c0800de1-af5d-40e8-8fa6-dc99d9667a1f","name":"Simple Memory"},{"parameters":{"jsCode":"const body = $json.body;\nconst remoteJid = body.key?.remoteJid || '';\nconst telefono = remoteJid.split('@')[0];\n\nlet text = '';\nlet imageUrl = false\n\n// Verifica si es un mensaje de texto\nif (body.message?.conversation) {\n  text = body.message.conversation;\n} else if (body.message?.extendedTextMessage?.text) {\n  text = body.message.extendedTextMessage.text;\n}\n\n// Verifica si es un mensaje con imagen\nif (body.message?.imageMessage?.url) {\n  imageUrl = true\n}\n\nreturn [\n  {\n    json: {\n      telefono,\n      text,\n      imageUrl\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-16],"id":"b8334c0b-7b39-4720-91c3-deb05b7e19c9","name":"Code1"},{"parameters":{"httpMethod":"POST","path":"4f2fc342-274a-4fb1-83f3-249b1822c46c","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,-16],"id":"e331710d-3e67-40b5-8cc1-31686e4fa231","name":"Webhook","webhookId":"4f2fc342-274a-4fb1-83f3-249b1822c46c"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.key.remoteJid.replace('@s.whatsapp.net', '') }}\",\n  \"body\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,32],"id":"1b9559f8-6409-4018-907a-fcdb5e6708e1","name":"HTTP Request4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5290c14e-91a9-4202-92d7-281a8cadd467","leftValue":"={{ $json.imageUrl }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,208],"id":"2a3d823b-979e-49d9-a3e9-dcd60564ffd7","name":"If"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sanfelipe"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.key.remoteJid.replace('@s.whatsapp.net', '') }}\",\n  \"body\": \"Mil disculpas en este momento no puedo ver el contenido de la imagen. ¿Podrías describirme el producto por favor?, estare encantado de ayudarte 😊\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,432],"id":"62ac643e-e9db-405e-b446-f53822887a73","name":"HTTP Request"},{"parameters":{"modelName":"models/gemini-embedding-exp-03-07"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1568,512],"id":"5e5509d8-13fe-435c-83bb-5906ab5dbae4","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"TrLuzSuO4YLOIyM8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Eres un asistente virtual de ventas Agua Mineral SanFelipe, especializado en tomar pedidos de productos. Tu objetivo es guiar al cliente de forma amable, clara y eficiente durante todo el proceso de compra.\n\nTu comportamiento debe seguir este flujo:\n\n# Identificar el producto de interés:\n\n- En base al nombre del producto, confírmalo y ofrece detalles (variedades, tamaños, precios, disponibilidad).\n\n# Brindar información útil del producto:\n\n- Responde preguntas sobre características, precios, cantidades disponibles, combos o promociones.\n\n# Tomar los datos necesarios para el pedido:\n- Solicita los siguientes datos, validando cada respuesta antes de avanzar:\n\n- Nombre completo\n- Cédula o RUC\n- Correo electrónico\n- Número(s) de contacto\n- Sector de entrega\n- Horario preferido para la entrega (Horario predefinido de 8am a 5pm)\n- Forma de Pago\n\n\n# Informar sobre las políticas de pago:\nExplica claramente:\n\n\"Puedes pagar en efectivo al recibir tu pedido o mediante transferencia bancaria con al menos 24 horas de anticipación.\"\n- En caso de que el cliente desee pagar por transferencia proporcionale los canales de pago\n\nRegistra esta informacion junto con los demas datos del pedido\n\n# Confirmacion de Pedido \n\nComunicas con un mensaje donde indica la informacion del pedido en este mensaje tu indicas los detalles del pedido escribes la informacion basica del producto y del cliente.\n\n- nombre producto\n- cantidad\n- precio \n- identificador\n- cedula de cliente\n\nEjemplo:\n\"Tu pedido se ha realizado, Gracias por preferir nuestra marca.\"\n\n# Generacion de pedido\nUsas el mensaje final donde se indica la informacion del pedido para la generacion del pedido con los productos que el usuario va a pedir y enviaras el pedido mediante el metodo HTTP POST (envio de productos http) en donde vas a enviar la informacion del o los productos.\nDeberas poner la informacion del pedido como esta en el cuerpo (body) del metodo HTTP:\n- cedula esta definido ID_CLIENTE_FACTURA\n- precio esta definido como price\n- identificador esta definido product_id\n- cantidad esta definida como  quantity\nel resto de parametros ya estan definidos\nEsta informacion la obtienes de un Json que generas siguiendo la siguiente estructura:\nJSON\n  -data:\n      -nombre\n      -ID_CLIENTE_FACTURA\n      -fecha_pedido\n      -email\n      -telefono\n      -sector_entrega\n      -horario_entrega\n      -forma_pago\n  -line_items\n      -price\n      -product_id\n      -quantity\n      -tax_id = \"49ACE25D98164D2496062AF72FE972BE\"\n\nCon esa informacion completas el envio \n\n\n# Restricción de pedidos:\n\nAclara de forma amable:\n\n- \"Recibimos pedidos hasta el martes a las 16h.\"\n- \"Las entregas se realizan los miércoles.\"\n\nEjemplo:\n\"Recuerda que tomamos pedidos hasta el martes a las 16h para entregarlos el miércoles 😊\"\n\n# Estilo de comunicación:\n\n- Cercano, amable, profesional y claro.\n- Utiliza emojis moderadamente para generar confianza y cercanía.\n- Sé paciente y guía al usuario paso a paso.\n\n# Ejemplo de tono:\n\n\"¡Hola! 👋 Somos Agua Mineral SanFelipe y esperamos que te encuentres excelente. ¿Qué producto te interesa hoy? Puedes enviarme una foto o escribir el nombre.\"\n\nIMPORTANTE\n- No inventes informacion, si no sabes algo consultalo en la base de datos, si no existe informacion de esto en la base de datos indicale al usuario de manera amable que no cuentas con dicha informacion\n- Debes registrar los productos con sus nombres especificos\n- Debes enviar el Metodo HTTP al final de la conversacion cuando ya se indique el pedido y una sola vez \n- Si existen mas de dos productos se debe modificar el metodo HTTP (envio de productos http) para hacer el pedido por lo que se tiene que ampliar la seccion del body donde estan definidos los productos para que se ingresen todos los productos necesarios\n- Si el cliente no da alguno de los datos solicitados para el pedido deberás volver a pedirlo de forma amable,\n no puedes avanzar hasta que el cliente te dé toda la informacion, no puedes inventar la información del cliente en caso de que no tener toda la informacion.\n- Antes de pedir los datos del cliente para generar el pedido deberas preguntar al cliente si no desea comparar algo mas, si el cliente no pide nada mas entonces continuas con el proceso.\n- La informacion de los productos deberás extraerla desde la Base de productos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[816,176],"id":"71672bc1-7cf5-4db6-86b5-9b4a22c5a04d","name":"AI Agent1","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://sanfelipepreprodpos.sidesoftcorp.com/sanfelipepreprod/ws/ec.com.sidesoft.app.order.SsapporOrder/SalesOrder","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"ID_CLIENTE_FACTURA\": \"{{ $fromAI('JSON', '', 'json').data['ID_CLIENTE_FACTURA'] }}\",\n    \"created_at\": \"2025-10-06 00:00:00\",\n    \"line_items\": [\n      {{ $fromAI('JSON', '', 'json').line_items.map(p => `\n      {\n        \"price\": \"${p.price}\",\n        \"product_id\": \"${p.product_id}\",\n        \"quantity\": \"${p.quantity}\",\n        \"tax_id\": \"49ACE25D98164D2496062AF72FE972BE\"\n      }\n      `).join(',') }}\n    ],\n    \"notes\": \"\",\n    \"ORG_OB\": \"8CB2AD971FBF4739AA61D6DC6A7644DC\",\n    \"payment_method\": \"FE6184D817CD448A8707E1C555E02521\",\n    \"sale_channel\": \"WEB\",\n    \"order_external_id\": \"121212445629\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1136,672],"id":"36dfa5aa-5034-4c5b-91b2-5ca0d4d7d33b","name":"Envío pedido http","credentials":{"httpBasicAuth":{"id":"PdGZ0gbFYRnu5i0l","name":"Unnamed credential"}}},{"parameters":{"model":"x-ai/grok-4-fast:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[608,608],"id":"ba55bbfd-145b-4b78-875f-536c55e190b0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"aLOzOyMoFg27l9Ay","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"products","toolDescription":"Products to retrieve to the user","tableName":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"topK":50,"options":{"queryName":"match_products"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1248,416],"id":"59e57aef-bf42-4b34-97fd-04095ecd27a1","name":"Base de productos","credentials":{"supabaseApi":{"id":"GC0ofN48GORy1RRV","name":"Supabase account 2"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"embeddingBatchSize":15,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-592,0],"id":"71efc3d7-802f-4e90-8bf0-6b6150b8dd07","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"GC0ofN48GORy1RRV","name":"Supabase account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1264,0],"id":"37ed5074-b769-4739-b29d-0b03591b1be5","name":"When clicking ‘Test workflow’"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-464,240],"id":"aa36abb9-bbe9-44f7-a77a-b969e0551276","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-400,384],"id":"e9a03c3c-41ce-4fec-8960-a734d1b20c43","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-832,0],"id":"8acf4c1d-68cc-4160-bb69-95961887ab0b","name":"Extract from File"},{"parameters":{"fileSelector":"/srv/files/ocr.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1040,0],"id":"21ba8cbb-930d-43c7-85b5-f5e780651e60","name":"Read/Write Files from Disk1"},{"parameters":{"modelName":"models/gemini-embedding-exp-03-07"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-704,224],"id":"24d11ad3-6856-43ed-9682-d3fc73e8bfc4","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"TrLuzSuO4YLOIyM8","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Base de productos","type":"ai_embedding","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Envío pedido http":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Base de productos":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"204b88fa-2844-4561-8d61-b235b084dcd8","triggerCount":1,"shared":[{"createdAt":"2025-10-01T22:38:52.236Z","updatedAt":"2025-10-01T22:38:52.236Z","role":"workflow:owner","workflowId":"SxYstS4l7KyVCMOY","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}