avisos-test-failed-U83M2eguN2FPR8HM.json
{"createdAt":"2025-06-24T21:14:28.864Z","updatedAt":"2025-09-26T17:03:56.000Z","id":"U83M2eguN2FPR8HM","name":"Avisos Test failed","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1200,288],"id":"437adeed-5ffa-43b9-8604-a286776fae36","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd3e1ea0-bdfb-4409-ad00-90b7f87ba7d9","leftValue":"={{ $json.Telefono }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"7c3e3fa7-9cb5-43ec-b949-3bdf9eb44182","leftValue":"={{ $json.Correos }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,624],"id":"59f88240-9c98-4172-abde-706a77c2c769","name":"If"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,12,18 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1904,288],"id":"c4266f43-0333-4d14-9233-6124d371319b","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e719b0f-a3c4-452e-8e24-781da873821a","leftValue":"={{ $('Postgres inicio').item.json.status_id }}","rightValue":"16","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,432],"id":"27bbdb28-cc8d-4741-8385-361886e21a8e","name":"If1"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: *{{ $('Postgres inicio').item.json.autor_name }}* se encuentra en estado *Test Failed Funcional*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-128],"id":"091eab4f-9873-454d-8e9d-8746b12888e4","name":"mensaje testfailed funcional creador"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: {{ $('Postgres inicio').item.json.autor_name }} y asignado a: {{ $('Postgres inicio').item.json.asignado_name }} se encuentra en estado *Test Failed Funcional*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,128],"id":"25a045b6-2b40-4558-8b7b-63dba8ea9724","name":"mensaje testfailed funcional1 informativo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24dd85d8-d8eb-408e-bc8e-4ccc5f9a104f","leftValue":"={{ $json.Correos }}","rightValue":"={{ $('Postgres inicio').item.json.autor_email }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,128],"id":"8fd14ad8-e385-4149-be16-26b19b49e935","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24dd85d8-d8eb-408e-bc8e-4ccc5f9a104f","leftValue":"={{ $json.Correos }}","rightValue":"={{ $('Postgres inicio').item.json.autor_email }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,608],"id":"d3967984-9958-4aa0-90a6-9f9a23eb971c","name":"If5"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: *{{ $('Postgres inicio').item.json.autor_name }}* se encuentra en estado *Test Failed*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,384],"id":"7373ae4a-fa40-40bf-bed3-c52be2bfd95a","name":"mensaje test failed creador"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: {{ $('Postgres inicio').item.json.autor_name }} y asignado a: {{ $('Postgres inicio').item.json.asignado_name }} se encuentra en estado *Test Failed*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,688],"id":"43627e78-7a88-48bb-af5b-c977d125a0c8","name":"mensaje testfailed funcional2 informativo"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.status_id }}","rightValue":"16","operator":{"type":"string","operation":"equals"},"id":"0e0c9131-49db-4375-a961-3d0e8e9a5b44"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d8ce67e2-9a26-47f1-8e3b-259a5f51654f","leftValue":"={{ $json.status_id }}","rightValue":"11","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4c36825b-faa9-4993-bb0f-fe5cedf1cb76","leftValue":"={{ $json.status_id }}","rightValue":13,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f2006ea1-35d3-4dff-9836-c5d7670c8d1a","leftValue":"={{ $json.status_id }}","rightValue":"14","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1008,352],"id":"80dbe3c5-358e-4efc-a37b-e87c23bde382","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24dd85d8-d8eb-408e-bc8e-4ccc5f9a104f","leftValue":"={{ $json.correos }}","rightValue":"={{ $('Postgres inicio').item.json.autor_email }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,-464],"id":"058fd3e8-9520-480f-92d4-dfd4ebf87dfa","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24dd85d8-d8eb-408e-bc8e-4ccc5f9a104f","leftValue":"={{ $json.correos }}","rightValue":"={{ $('Postgres inicio').item.json.autor_email }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,928],"id":"690f258f-4a83-4887-962b-8f275e9eb8fa","name":"If7"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: {{ $('Postgres inicio').item.json.autor_name }} y asignado a: {{ $('Postgres inicio').item.json.asignado_name }} se encuentra en estado *Observaciones Documentacion*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,1152],"id":"d1bd2296-3513-474e-85ec-a6bb70a05118","name":"mensaje Observaciones Documentacion informativo2"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: *{{ $('Postgres inicio').item.json.autor_name }}* se encuentra en estado *Observaciones Documentacion*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,928],"id":"a49a511c-6eed-488b-bb65-26e6028db8e6","name":"mensaje Observaciones Documentacioncreador2"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: *{{ $('Postgres inicio').item.json.autor_name }}* se encuentra en estado *On Hold*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-720],"id":"18692083-5685-4652-bd08-56b0f6dc960d","name":"mensaje On Hold creador1","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer sidesoft"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.telefonos }}\",\n  \"body\": \"Saludos cordiales\\n\\nSe comunica que el ticket '{{ $('Postgres inicio').item.json.subject }}', creado por: {{ $('Postgres inicio').item.json.autor_name }} y asignado a: {{ $('Postgres inicio').item.json.asignado_name }} se encuentra en estado *On Hold*. Le solicitamos revisar el sistema para conocer más detalles.\\n\\nTítulo del ticket: '{{ $('Postgres inicio').item.json.subject }}'\\nURL del ticket: http://open.sidesoftcorp.com:8082/work_packages/{{ $('Postgres inicio').item.json.id }}/activity\\n\\n*Importante*: todo ticket debe ser liberado a la brevedad posible. Gracias.\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-448],"id":"72fe0f58-32f5-4034-8a5b-6ce781722deb","name":"mensaje On Hold informativo1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nombres_sidesoft","mode":"list","cachedResultName":"nombres_sidesoft"},"where":{"values":[{"column":"correos","value":"dguallasamin@sidesoft.com.ec"},{"column":"correos","value":"dquintana@sidesoft.com.ec"},{"column":"correos","value":"mmino@sidesoft.com.ec"},{"column":"correos","value":"={{ $json.autor_email || '' }}"},{"column":"correos","value":"={{ $json.asignado_email || '' }}"}]},"combineConditions":"OR","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-640,-464],"id":"fa92cd55-22c6-43be-ac69-daff2df15417","name":"Postgres1","alwaysOutputData":true,"credentials":{"postgres":{"id":"nn2wnLwgJZo6fIEe","name":"Postgres account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nombres_sidesoft","mode":"list","cachedResultName":"nombres_sidesoft"},"where":{"values":[{"column":"correos","value":"dguallasamin@sidesoft.com.ec"},{"column":"correos","value":"dquintana@sidesoft.com.ec"},{"column":"correos","value":"mmino@sidesoft.com.ec"},{"column":"correos","value":"={{ $json.autor_email || '' }}"},{"column":"correos","value":"={{ $json.asignado_email || '' }}"}]},"combineConditions":"OR","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,128],"id":"56db66dd-0925-44f6-83a8-607993386fa4","name":"Postgres2","alwaysOutputData":true,"credentials":{"postgres":{"id":"nn2wnLwgJZo6fIEe","name":"Postgres account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nombres_sidesoft","mode":"list","cachedResultName":"nombres_sidesoft"},"where":{"values":[{"column":"correos","value":"dguallasamin@sidesoft.com.ec"},{"column":"correos","value":"dquintana@sidesoft.com.ec"},{"column":"correos","value":"mmino@sidesoft.com.ec"},{"column":"correos","value":"={{ $json.autor_email || '' }}"},{"column":"correos","value":"={{ $json.asignado_email || '' }}"}]},"combineConditions":"OR","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,624],"id":"e24a6b58-e1c1-48f7-a0ec-c924d7eb4f90","name":"Postgres3","alwaysOutputData":true,"credentials":{"postgres":{"id":"nn2wnLwgJZo6fIEe","name":"Postgres account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nombres_sidesoft","mode":"list","cachedResultName":"nombres_sidesoft"},"where":{"values":[{"column":"correos","value":"dguallasamin@sidesoft.com.ec"},{"column":"correos","value":"dquintana@sidesoft.com.ec"},{"column":"correos","value":"mmino@sidesoft.com.ec"},{"column":"correos","value":"={{ $json.autor_email || '' }}"},{"column":"correos","value":"={{ $json.asignado_email || '' }}"}]},"combineConditions":"OR","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-544,928],"id":"0529f797-2348-45b9-b8b1-c104f7dc8f68","name":"Postgres4","alwaysOutputData":true,"credentials":{"postgres":{"id":"nn2wnLwgJZo6fIEe","name":"Postgres account 3"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  wp.*, \n  asignado.mail AS asignado_email, \n  autor.mail AS autor_email,\n  asignado.firstname || ' ' || asignado.lastname AS asignado_name,\n  autor.firstname || ' ' || autor.lastname AS autor_name\nFROM  \n  work_packages wp\nLEFT JOIN \n  users asignado ON asignado.id = wp.assigned_to_id\nLEFT JOIN \n  users autor ON autor.id = wp.author_id\nWHERE \n  wp.status_id IN (11, 16, 14, 13) \n  AND wp.priority_id = 7\n  AND (\n    wp.status_id != 13 \n    OR \n    (wp.status_id = 13 AND DATE(wp.updated_at) >= DATE_TRUNC('month', CURRENT_DATE))\n  );","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1648,288],"id":"af8ca89f-8528-4538-93b2-969e77dc40ff","name":"Postgres inicio","credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"If5","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Postgres inicio","type":"main","index":0}]]},"If1":{"main":[[{"node":"Postgres2","type":"main","index":0}],[{"node":"Postgres3","type":"main","index":0}]]},"mensaje testfailed funcional creador":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"mensaje testfailed funcional1 informativo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If4":{"main":[[{"node":"mensaje testfailed funcional creador","type":"main","index":0}],[{"node":"mensaje testfailed funcional1 informativo","type":"main","index":0}]]},"If5":{"main":[[{"node":"mensaje test failed creador","type":"main","index":0}],[{"node":"mensaje testfailed funcional2 informativo","type":"main","index":0}]]},"mensaje test failed creador":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"mensaje testfailed funcional2 informativo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}],[{"node":"Postgres4","type":"main","index":0}]]},"If6":{"main":[[{"node":"mensaje On Hold creador1","type":"main","index":0}],[{"node":"mensaje On Hold informativo1","type":"main","index":0}]]},"If7":{"main":[[{"node":"mensaje Observaciones Documentacioncreador2","type":"main","index":0}],[{"node":"mensaje Observaciones Documentacion informativo2","type":"main","index":0}]]},"mensaje Observaciones Documentacion informativo2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"mensaje Observaciones Documentacioncreador2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"mensaje On Hold creador1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"mensaje On Hold informativo1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"If6","type":"main","index":0}]]},"Postgres2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Postgres3":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"If7","type":"main","index":0}]]},"Postgres inicio":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3875613c-8a92-4eff-aba2-968104ef759a","triggerCount":1,"shared":[{"createdAt":"2025-06-24T21:14:28.875Z","updatedAt":"2025-06-24T21:14:28.875Z","role":"workflow:owner","workflowId":"U83M2eguN2FPR8HM","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}