cargamaestros-limpiardirectorios-gqt6yXfnufkwZYCz.json
{"createdAt":"2025-10-08T16:29:38.448Z","updatedAt":"2025-10-16T21:03:43.000Z","id":"gqt6yXfnufkwZYCz","name":"CargaMaestros-LimpiarDirectorios","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{$json.uploadFilesDirectory}}","mode":"id"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0],"id":"64551976-3f94-4e05-84bf-1588b24f52a0","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"2D5m9UCVL0y0GKgC","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,80],"id":"28eb9291-e159-46cc-a79a-86be289f32ca","name":"Loop Over Items"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Loop Over Items').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,96],"id":"e9ffe619-0c9c-40d5-8413-8f7964a8d441","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"2D5m9UCVL0y0GKgC","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{$json.convertedFilesDirectory}}","mode":"id"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,176],"id":"fe102f57-d007-4617-9d7b-3d8eaeafddf8","name":"Search files and folders1","credentials":{"googleDriveOAuth2Api":{"id":"2D5m9UCVL0y0GKgC","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[352,80],"id":"5ebfd67f-59d6-4aff-b758-cb5d343aab37","name":"Merge"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-512,80],"id":"7969d84e-71b7-4cb6-8a01-11800abeee0a","name":"Subworkflow"},{"parameters":{"jsCode":"// Convierte json.items[] en items \"planos\" para el resto del flujo\nconst arr = $json.items ?? [];\nreturn arr.map(it => ({ json: it.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,80],"id":"74300eb4-3d9e-4e44-9e7d-2525078b49d5","name":"unificate"}],"connections":{"Search files and folders":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete a file","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Subworkflow":{"main":[[{"node":"unificate","type":"main","index":0}]]},"unificate":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Search files and folders1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b0fb5a26-3476-4173-a957-01d590bd17e8","triggerCount":0,"shared":[{"createdAt":"2025-10-08T16:29:38.456Z","updatedAt":"2025-10-08T16:29:38.456Z","role":"workflow:owner","workflowId":"gqt6yXfnufkwZYCz","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}