pmo-2-kpis-workflows-bGCVPQdiIY1Mqwvb.json
{"createdAt":"2025-08-15T14:42:11.130Z","updatedAt":"2025-09-22T23:42:59.000Z","id":"bGCVPQdiIY1Mqwvb","name":"PMO 2 KPIS Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT name, TO_CHAR(date_begin,'YYYY-MM-DD') date_begin,  TO_CHAR(date_end,'YYYY-MM-DD') date_end FROM annual_backlogs where is_active=true","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-416,-144],"id":"7c866e8e-14fd-400e-bf2e-4020a360ea1b","name":"Backlog Activo","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const active_backlog=String($json.name)\n  const fecha_ini=($json.date_begin)\n  const fecha_fin=($json.date_end)\n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-144],"id":"4c1bad38-7800-4aa2-b1f0-fafdc62e9cb0","name":"Code"},{"parameters":{"operation":"executeQuery","query":"UPDATE employee_advance\nSET porcentaje = {{ $json.progress }}\nWHERE consultor = '{{ $json.asignado_a.replace(/\\s+/g, ' ').trim() }}'\n  AND tipo_avance = 'Real';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,-160],"id":"a3c782a3-f5aa-44a1-96ff-cf81224927fb","name":"Update Progreso","notesInFlow":true,"credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,-160],"id":"9ad02f3e-3ddd-4028-bbf0-de49531c489c","name":"Actualizacion Estado Tareas","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"operation":"executeQuery","query":"update personal_cost set h_executed = {{ $json.horas_total }} where employee='{{ $json.asignado_a.replace(/\\s+/g, ' ').trim() }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1776,-160],"id":"c4fefca2-d2bc-44e7-9423-dcec19537aee","name":"Update H Ejecutadas","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"593987525109\",\n  \"body\": \"游댃 Actualizacion Completada..!!\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,-160],"id":"67bb8509-7861-4f81-b0a7-90355586477a","name":"Confirmacion","executeOnce":true,"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT\n  v.name AS version,\n  CONCAT(u.firstname, ' ', u.lastname) AS asignado_a,\n  round(AVG(wp.done_ratio),2) AS progress,\n  sum(wp.estimated_hours) as estimated_hours\nFROM\n  work_packages wp\nJOIN\n  statuses s ON wp.status_id = s.id\nLEFT JOIN\n  versions v ON wp.version_id = v.id\nLEFT JOIN\n  users u ON wp.assigned_to_id = u.id\nWHERE\n  wp.priority_id in (18,7) --18 Funcional\n  AND v.name = '{{ $node[\"Backlog Activo\"].json.name }}'\nGROUP BY\n  v.name,\n  wp.assigned_to_id,\n  u.firstname,\n  u.lastname","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,-160],"id":"8e5cef57-ad10-4dbc-a733-164bedb7dbcc","name":"OP Progreso","credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"operation":"executeQuery","query":"--CANTIDAD DE TAREAS POR ESTADO\nSELECT\n  v.name AS version,\n  CONCAT(u.firstname, ' ', u.lastname) AS asignado_a,\n  s.name AS estado,\n  count(*)\n\nFROM\n  work_packages wp\nJOIN\n  statuses s ON wp.status_id = s.id\nLEFT JOIN\n  versions v ON wp.version_id = v.id\nLEFT JOIN\n  users u ON wp.assigned_to_id = u.id\nWHERE\n  wp.priority_id in (18,7) --18 Funcional\n  AND v.name = '{{ $('Code').item.json.name }}'\nGROUP BY\n  v.name,\n  wp.assigned_to_id,\n  u.firstname,\n  u.lastname,\n  s.name","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[784,-160],"id":"39097c45-b1d6-4a91-b74d-df34c4c469f2","name":"OP Estado Tareas","executeOnce":true,"credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"language":"JavaScript","jsCode":"// Entrada: items con { asignado_a, estado, count }\nconst norm = s => String(s || '').replace(/\\s+/g,' ').trim();\n\nconst byEmp = new Map();\nfor (const it of $input.all()) {\n  const emp = norm(it.json.asignado_a);\n  const estado = String(it.json.estado || '');\n  const count = Number(it.json.count || 0);\n  if (!byEmp.has(emp)) byEmp.set(emp, { executed:0, inprogress:0, onhold:0, specified:0 });\n\n  const acc = byEmp.get(emp);\n  if (estado === 'Closed') acc.executed += count;\n  else if (estado === 'In progress') acc.inprogress += count;\n  else if (estado === 'On hold') acc.onhold += count;\n  else if (estado === 'Backlog Approbed') acc.specified += count;\n}\n\n// Devuelve un bloque de 4 UPDATEs por empleado\nconst out = [];\nfor (const [emp, v] of byEmp.entries()) {\n  const sql =\n    `UPDATE personal_cost SET task_executed = ${v.executed} WHERE employee = '${emp}';\\n` +\n    `UPDATE personal_cost SET task_inprogress = ${v.inprogress} WHERE employee = '${emp}';\\n` +\n    `UPDATE personal_cost SET task_onhold = ${v.onhold} WHERE employee = '${emp}';\\n` +\n    `UPDATE personal_cost SET task_specified = ${v.specified} WHERE employee = '${emp}';`;\n  out.push({ json: { output: sql } });\n}\nreturn out;"},"name":"Generar SQL Updates Agrupados","type":"n8n-nodes-base.code","typeVersion":1,"position":[960,-160],"id":"02662db1-90e4-41a5-b512-0461a485023b"},{"parameters":{"jsCode":"// Entrada: items con { output } o { query } (bloque con varias sentencias)\n// Salida: 1 item por sentencia UPDATE en { query }\n\nconst items = $input.all();\nconst out = [];\n\nfor (const it of items) {\n  // Toma el campo correcto y coerciona SIEMPRE a string\n  const rawField = (it?.json?.output ?? it?.json?.query ?? '');\n  const raw = (rawField ?? '').toString();\n\n  // Si est치 vac칤o, salta\n  if (!raw.trim()) continue;\n\n  // Limpia fences y normaliza saltos de l칤nea\n  const cleaned = raw\n    .replace(/^\\s*```(?:sql)?\\s*/i, '')\n    .replace(/\\s*```\\s*$/i, '')\n    .replace(/\\r\\n/g, '\\n')\n    .trim();\n\n  // Divide por ';' cuando sigue otra sentencia SQL o fin\n  const stmts = cleaned\n    .split(/;\\s*(?=(?:UPDATE|INSERT|DELETE|SELECT)\\b|$)/gi)\n    .map(s => (s ?? '').toString().trim())\n    .filter(s => s.length > 0)\n    .map(s => (s.endsWith(';') ? s : s + ';'));\n\n  // Qu칠date solo con UPDATE (si quieres ejecutar s칩lo esos)\n  for (const q of stmts) {\n    if (!/^UPDATE\\b/i.test(q)) continue;\n    // Rompe el pairedItem para evitar errores aguas abajo\n    out.push({ json: { query: q }, pairedItem: [] });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-160],"id":"ed574d95-6cef-4dbc-a20f-8e26216f84bb","name":"Generar"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-144],"id":"ce9f53b9-23ce-4ad9-be54-97688a386963","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    UPPER(TRIM(p.name)) AS proyecto,\n    v.name AS version,\n    COALESCE(cm_options.value, modulo.value, '-') AS modulo,\n    COALESCE(ce_options.value, etapa.value, '-')  AS etapa,\n    act.name AS actividad,\n    (CASE pr.name WHEN 'Normal' THEN 'Funcional' ELSE pr.name END) AS prioridad,\n    (u.firstname || ' ' || u.lastname) AS usuario_nombre,\n    EXTRACT(YEAR  FROM te.spent_on)                                     AS anio,\n    EXTRACT(MONTH FROM te.spent_on)                                     AS mes_numero,\n    EXTRACT(YEAR  FROM te.spent_on) || ' ' || TO_CHAR(te.spent_on,'TMMonth') AS mes_nombre,\n    TO_CHAR(te.spent_on, 'IW')                                          AS semana_iso,\n    ROUND(SUM(te.hours))                                                AS horas_total,\n    ROUND(SUM(COALESCE(te.costs, 0)), 2)                                AS costo_usd\nFROM time_entries te\nJOIN work_packages wp ON wp.id = te.work_package_id\nLEFT JOIN versions v  ON v.id = wp.version_id      -- si tu esquema usa fixed_version_id, c치mbialo\n-- Campo personalizado: M칩dulo\nLEFT JOIN custom_values  modulo     ON modulo.customized_id = wp.id AND modulo.custom_field_id = 11\nLEFT JOIN custom_options cm_options ON cm_options.id::text = modulo.value AND cm_options.custom_field_id = 11\n-- Campo personalizado: Etapa\nLEFT JOIN custom_values  etapa      ON etapa.customized_id = wp.id AND etapa.custom_field_id = 10\nLEFT JOIN custom_options ce_options ON ce_options.id::text = etapa.value AND ce_options.custom_field_id = 10\n-- Actividad del parte de horas\nLEFT JOIN enumerations act ON act.id = te.activity_id AND act.type = 'TimeEntryActivity'\n-- Prioridad del work package (en enumerations)\nLEFT JOIN enumerations pr  ON pr.id = wp.priority_id AND pr.type IN ('WorkPackagePriority','IssuePriority')\n-- Proyecto\nJOIN projects p ON p.id = wp.project_id\n-- Usuario\nJOIN users u ON u.id = te.user_id\nWHERE \n  EXTRACT(YEAR  FROM te.spent_on) >= 2025\nGROUP BY \n    p.name, v.name,\n    COALESCE(cm_options.value, modulo.value, '-'),\n    COALESCE(ce_options.value, etapa.value, '-'),\n    act.name, pr.name,\n    u.login, u.firstname, u.lastname,\n    EXTRACT(YEAR  FROM te.spent_on),\n    EXTRACT(MONTH FROM te.spent_on),\n    TO_CHAR(te.spent_on, 'TMMonth'),\n    TO_CHAR(te.spent_on, 'IW')\nORDER BY \n    anio, mes_numero, semana_iso, proyecto, version, modulo, actividad, prioridad;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,192],"id":"e5a1db18-4cda-443e-9ba1-e8192d5bad84","name":"OP Costo Proyectos","credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n   UPPER(TRIM(p.name)) as proyecto,   \n  ROUND(SUM(COALESCE(te.costs, 0)), 2) AS costo_usd\nFROM \n    time_entries te\nJOIN work_packages wp ON wp.id = te.work_package_id\n\n-- Campo personalizado: M칩dulo\nLEFT JOIN custom_values modulo ON modulo.customized_id = wp.id \n    AND modulo.custom_field_id = 11\nLEFT JOIN custom_options cm_options ON cm_options.id::text = modulo.value \n    AND cm_options.custom_field_id = 11\n\n-- Campo personalizado: Etapa\nLEFT JOIN custom_values etapa ON etapa.customized_id = wp.id \n    AND etapa.custom_field_id = 10\nLEFT JOIN custom_options ce_options ON ce_options.id::text = etapa.value \n    AND ce_options.custom_field_id = 10\n\n-- Proyecto\nJOIN projects p ON p.id = wp.project_id\nWHERE \n    p.id = 81 --CARNIDEM\nGROUP BY \n    p.name\nORDER BY \n    1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,192],"id":"1c8f37ab-cda5-45ab-8af0-67e42273f45c","name":"OP Proyecto Gastado","executeOnce":true,"credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"project","mode":"list","cachedResultName":"project"},"columns":{"mappingMode":"defineBelow","value":{"project":"={{ $json.proyecto }}","budget_executed":"={{ $json.costo_usd }}"},"matchingColumns":["project"],"schema":[{"id":"project_id","displayName":"project_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"project","displayName":"project","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"budget_planned","displayName":"budget_planned","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"budget_executed","displayName":"budget_executed","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"execution_rate","displayName":"execution_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"budget_available","displayName":"budget_available","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"is_active","displayName":"is_active","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"system_downs","displayName":"system_downs","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"client_complains","displayName":"client_complains","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"real_progress","displayName":"real_progress","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"estimated_progress","displayName":"estimated_progress","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"variation_progress","displayName":"variation_progress","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,192],"id":"c3a7d2df-762c-4870-868a-51a9aa94a0de","name":"Update Gastado por Proyecto","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"project_cost","mode":"list","cachedResultName":"project_cost"},"columns":{"mappingMode":"defineBelow","value":{"project":"={{ $json.proyecto }}","modules":"={{ $json.modulo }}","phase":"={{ $json.etapa }}","total_hours":"={{ $json.horas_total }}","total_cost_usd":"={{ $json.costo_usd }}","anio":"={{ $json.anio }}","mes_nombre":"={{ $json.mes_nombre }}","mes_numero":"={{ $json.mes_numero }}","semana":"={{ $json.semana_iso }}","tipo":"={{ $json.prioridad }}","actividad":"={{ $json.actividad }}","total_income":0,"employee":"={{ $json.usuario_nombre }}"},"matchingColumns":[],"schema":[{"id":"project_cost_id","displayName":"project_cost_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modules","displayName":"modules","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phase","displayName":"phase","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_hours","displayName":"total_hours","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"total_cost_usd","displayName":"total_cost_usd","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"updated","displayName":"updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"anio","displayName":"anio","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"mes_nombre","displayName":"mes_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mes_numero","displayName":"mes_numero","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"semana","displayName":"semana","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"actividad","displayName":"actividad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total_income","displayName":"total_income","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"employee","displayName":"employee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,192],"id":"a193b85b-7b18-49e9-a0a6-1bd442ea05d9","name":"Insert Costos Proyectos","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"operation":"executeQuery","query":"TRUNCATE project_cost;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-416,192],"id":"7aa5ec71-3408-4d99-892f-0cc3923f2700","name":"Truncate Project Costt","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,192],"id":"59c4e2ef-12d3-446a-867d-e09fad6e28ab","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"593987525109\",\n  \"body\": \"Actualizacion de costos y facturacion\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,192],"id":"14951c22-d375-4486-8257-c22abfd39c2d","name":"Confirmacion1","executeOnce":true,"disabled":true},{"parameters":{"content":"## Actualizacion de Indicadores Consultores \n**Frecuencia 10 mink** ","width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,-304],"id":"fb1f89ae-f4bf-4eb3-ba89-eb625c79e412","name":"Sticky Note"},{"parameters":{"content":"## Actualizacion de Costos Proyectos\n**Frecuencia 1 Hora** ","width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,80],"id":"0d77f02d-c3d2-4620-9d2b-b856d2b6d588","name":"Sticky Note1"},{"parameters":{"formTitle":"SIDESOFT - Registro de Politicas","formDescription":"Opcion para registro de hallazgos positivos o negativos de los equipos internos","formFields":{"values":[{"fieldLabel":"Hallazgo","placeholder":"Indique aqui el motivo de la politica","requiredField":true},{"fieldLabel":"Ticket","placeholder":"Ticket"},{"fieldLabel":"Responsable","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Julio Hinojosa"},{"option":"Erika Santana"},{"option":"Elizabeth Moya"},{"option":"Ema Juma"},{"option":"Yahaira Saltos"},{"option":"Marlon Pacheco"},{"option":"Esteban Cuasapaz"},{"option":"Josue Coba"}]},"requiredField":true},{"fieldLabel":"Puntos (-/+)","fieldType":"number","placeholder":"Indique con signo negativo amonestaciones","requiredField":true},{"fieldLabel":"Tipo","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Variable"},{"option":"Horas"}]},"requiredField":true},{"fieldLabel":"Codigo","fieldType":"password","placeholder":"Ingresa aqui tu codigo de Coordinador","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Procesar","respondWithOptions":{"values":{"formSubmittedText":"Tu registro fue procesado y se esta validando..!!"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-800,624],"id":"7457aef0-5d5a-46b5-9154-1a527079eebe","name":"On form submission","webhookId":"a23a5829-bb98-477a-a0f3-1aef4343f210"},{"parameters":{"operation":"executeQuery","query":"select --cb.name,\n(CASE cb.taxid\n        WHEN '1793048285001'  THEN 'FASE 2 HAPPYCEL'\n        WHEN '1793202388001'  THEN 'FASE 2 HAPPYPAY'\n        WHEN '1791280792001'  THEN 'IMPLEMENTACION OPENBRAVO PETROWORLD'\n        WHEN '1792181364001'  THEN 'FASE 2 UNNOPARTS'\n        WHEN '1791293363001'  THEN 'IMPLEMENTACION OPENBRAVO CARNIDEM - CASA GUILLO'\n    END) as project,\n\nEXTRACT(YEAR FROM ci.dateinvoiced),\nEXTRACT(YEAR FROM ci.dateinvoiced) || ' ' || (CASE EXTRACT(MONTH FROM ci.dateinvoiced)\n        WHEN 1  THEN 'January'\n        WHEN 2  THEN 'February'\n        WHEN 3  THEN 'March'\n        WHEN 4  THEN 'April'\n        WHEN 5  THEN 'May'\n        WHEN 6  THEN 'June'\n        WHEN 7  THEN 'July'\n        WHEN 8  THEN 'August'\n        WHEN 9  THEN 'September'\n        WHEN 10 THEN 'October'\n        WHEN 11 THEN 'November'\n        WHEN 12 THEN 'December'\n END) as mes_nombre,\nEXTRACT(MONTH FROM ci.dateinvoiced) as mes_numero,\n0   AS total_horas,\n0 AS total_costo,\nsum(grandtotal) as ingresos\nfrom c_invoice ci\nleft join c_bpartner cb on cb.c_bpartner_id=ci.c_bpartner_id\nwhere ci.issotrx='Y' and EXTRACT(YEAR FROM ci.dateinvoiced)>=2025\n--and c_doctype_id in ('901ED92690BC423493EA135D4990A3F2','')\n--and cb.taxid in ('1793048285001', '1793202388001','1791280792001','1792181364001','1791293363001')\ngroup by 1,2,3,4\norder by 2,4 asc","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,192],"id":"cb20fe98-3ce8-4b9a-a854-3de4d4a86fca","name":"Facturacion OB","credentials":{"postgres":{"id":"O5N8bdpqKJpneCLG","name":"Openbravo SS"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  u.id,\n  CONCAT(u.firstname, ' ', u.lastname) AS asignado_a,\n  SUM(te.hours) AS horas_total\nFROM\n  time_entries te\nJOIN\n  users u ON te.user_id = u.id\nWHERE\n  te.spent_on BETWEEN '{{ $node[\"Backlog Activo\"].json.date_begin }}' AND '{{ $node[\"Backlog Activo\"].json.date_end }}'\n  and u.id in (34,33,14,13,19,66,35,28)\nGROUP BY\n   u.id,u.firstname, u.lastname\nORDER BY\n  u.id DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1552,-160],"id":"6d61122b-052e-4ac5-90da-7a8b57e8d586","name":"OP Horas Ejecutadas","credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"project_cost","mode":"list","cachedResultName":"project_cost"},"columns":{"mappingMode":"defineBelow","value":{"project":"={{ $json.project }}","modules":"NULL","phase":"NULL","anio":"={{ $json.date_part }}","mes_nombre":"={{ $json.mes_nombre }}","mes_numero":"={{ $json.mes_numero }}","total_income":"={{ $json.ingresos }}"},"matchingColumns":[],"schema":[{"id":"project_cost_id","displayName":"project_cost_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modules","displayName":"modules","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phase","displayName":"phase","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_hours","displayName":"total_hours","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"total_cost_usd","displayName":"total_cost_usd","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"updated","displayName":"updated","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"anio","displayName":"anio","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"mes_nombre","displayName":"mes_nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mes_numero","displayName":"mes_numero","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"semana","displayName":"semana","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"actividad","displayName":"actividad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"total_income","displayName":"total_income","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,192],"id":"55f597bd-3e80-4585-932d-a61fa0d875ad","name":"Insert Project Cost","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"path":"update_kpi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-800,-304],"id":"4aa124ba-cef4-4306-9be2-3bc5126191d9","name":"Webhook","webhookId":"2ca6dff6-eee5-4f27-880f-1457a6d5e629"},{"parameters":{"path":"update_cost","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-800,32],"id":"c6954f6f-a514-45b4-ae8c-a0ac5f01b9f1","name":"Webhook1","webhookId":"c4b9771e-2745-4570-8638-cb8fe2a7793b"},{"parameters":{"operation":"executeQuery","query":"BEGIN;\nINSERT INTO public.employee_advance_history (\n    employee_advance,\n    consultor,\n    tipo_avance,\n    porcentaje,\n    backlog,\n    tipo\n)\nSELECT \n    employee_advance_id,  \n    consultor,\n    tipo_avance,\n    porcentaje,\n    backlog,\n    tipo\nFROM public.employee_advance;\ntruncate employee_advance;\nINSERT INTO public.employee_advance (\n    consultor,\n    tipo_avance,\n    porcentaje,\n    backlog,\n    tipo\n) VALUES\n('Julio Hinojosa', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Yahaira Saltos', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Elizabeth Moya', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Ema Juma', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Erika Santana', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Ema Juma', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Erika Santana', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Yahaira Saltos', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Julio Hinojosa', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Elizabeth Moya', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Josue Coba', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Marlon Pacheco', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Esteban Cuasapaz', 'Proyectado', 100, '{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Josue Coba', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Marlon Pacheco', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Esteban Cuasapaz', 'Real', 0, '{{ $('Backlog Activo1').item.json.name }}','Tecnico');  \n\n  INSERT INTO public.personal_cost_history (\n    personal_cost_id,\n    employee,\n    cost_value,\n    h_planificated,\n    h_executed,\n    budget_planificated,\n    budget_executed,\n    percentage_executed,\n    task_planificated,\n    task_executed,\n    task_advance,\n    task_inprogress,\n    task_onhold,\n    task_specified,\n\tbacklog,\n    tipo\n  \n)\nSELECT\n    personal_cost_id,\n    employee,\n    cost_value,\n    h_planificated,\n    h_executed,\n    budget_planificated,\n    budget_executed,\n    percentage_executed,\n    task_planificated,\n    task_executed,\n    task_advance,\n    task_inprogress,\n    task_onhold,\n    task_specified,\n\tbacklog,\n    tipo\nFROM public.personal_cost;\ntruncate personal_cost;\nINSERT INTO public.personal_cost (\n    employee,\n    cost_value,\n    h_planificated,\n    h_executed,\n    task_planificated,\n    task_executed,\n    task_inprogress,\n    task_onhold,\n    task_specified,\n\tbacklog,\n    tipo\n) VALUES\n('Julio Hinojosa', 12.71, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Elizabeth Moya', 12.71, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Erika Santana', 4.34, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Ema Juma', 5.93, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Yahaira Saltos', 3.23, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Funcional'),\n('Josue Coba', 3.78, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Marlon Pacheco', 4.69, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Tecnico'),\n('Esteban Cuasapaz', 4.33, 40, 0, 0, 0, 0, 0, 0,'{{ $('Backlog Activo1').item.json.name }}','Tecnico');  \n\n  INSERT INTO public.project_history (\n    project_id,\n    project,\n    description,\n    budget_planned,\n    budget_executed,\n    execution_rate,\n    budget_available,\n    is_active,\n    system_downs,\n    client_complains,\n    real_progress,\n    estimated_progress,\n    variation_progress,\n    backlog\n)\nSELECT\n    project_id,\n    project,\n    description,\n    budget_planned,\n    budget_executed,\n    execution_rate,\n    budget_available,\n    is_active,\n    system_downs,\n    client_complains,\n    real_progress,\n    estimated_progress,\n    variation_progress,\n    '{{ $('Backlog Archivado').item.json.name }}'\nFROM public.project;\n\n  INSERT INTO public.project_history (\n    project_id,\n    project,\n    description,\n    budget_planned,\n    budget_executed,\n    execution_rate,\n    budget_available,\n    is_active,\n    system_downs,\n    client_complains,\n    real_progress,\n    estimated_progress,\n    variation_progress,\n    backlog\n)\nSELECT\n    project_id,\n    project,\n    description,\n    budget_planned,\n    budget_executed,\n    execution_rate,\n    budget_available,\n    is_active,\n    system_downs,\n    client_complains,\n    real_progress,\n    estimated_progress,\n    variation_progress,\n    '{{ $('Backlog Archivado').item.json.name }}'\nFROM public.project;\nCOMMIT;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-480],"id":"7d69890b-9c91-4cf1-94ff-820dfdb22199","name":"Reinicio Advance","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"operation":"executeQuery","query":"SELECT name, date_begin, date_end FROM annual_backlogs where is_active=true;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-416,-672],"id":"0114260e-f67d-4fb1-a565-dcebbc1333ef","name":"Backlog Activo1","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"operation":"executeQuery","query":"select distinct backlog from employee_advance","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-240,-672],"id":"e335b108-217e-466d-aa83-6d9566cd9968","name":"Backlog Archivado","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c84a6a08-b4df-4a6d-a2b0-6b860feead86","leftValue":"={{ $json.backlog }}","rightValue":"={{ $('Backlog Activo1').item.json.name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-672],"id":"49c6653b-a537-4dab-8224-24e9ec36c2b7","name":"If"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"593987525109\",\n  \"body\": \"游댃 Reinicio Exitoso\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,-688],"id":"c8271c6c-805f-49f9-9392-caab372ed893","name":"Error","executeOnce":true,"disabled":true},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"personal_cost","mode":"list","cachedResultName":"personal_cost"},"columns":{"mappingMode":"defineBelow","value":{"employee":"={{ $json.asignado_a.trim() }}","h_planificated":"={{ $json.estimated_hours }}"},"matchingColumns":["employee"],"schema":[{"id":"personal_cost_id","displayName":"personal_cost_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"employee","displayName":"employee","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cost_value","displayName":"cost_value","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"h_planificated","displayName":"h_planificated","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"h_executed","displayName":"h_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"budget_planificated","displayName":"budget_planificated","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"budget_executed","displayName":"budget_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"percentage_executed","displayName":"percentage_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_planificated","displayName":"task_planificated","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_executed","displayName":"task_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_advance","displayName":"task_advance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_inprogress","displayName":"task_inprogress","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_onhold","displayName":"task_onhold","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_specified","displayName":"task_specified","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"backlog","displayName":"backlog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,-688],"id":"ce0d63af-b17d-4f22-9540-8fe50f61c53f","name":"Update H PLanned","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"operation":"executeQuery","query":"--CONSULTA DE PROGRESO Y HORAS ESTIMADAS\nSELECT\n  v.name AS version,\n  CONCAT(u.firstname, ' ', u.lastname) AS asignado_a,u.id,\n  round(AVG(wp.done_ratio),2) AS progress,\n  sum(wp.estimated_hours) as estimated_hours\nFROM\n  work_packages wp\nJOIN\n  statuses s ON wp.status_id = s.id\nLEFT JOIN\n  versions v ON wp.version_id = v.id\nLEFT JOIN\n  users u ON wp.assigned_to_id = u.id\nWHERE\n  wp.priority_id in (18,7) --18 Funcional\n  AND v.name = '{{ $('Backlog Activo1').item.json.name }}'\n  and u.id in (34,33,14,13,19,66,35,28)\nGROUP BY\n  v.name,\n  wp.assigned_to_id,\n  u.firstname,\n  u.lastname, u.id","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,-688],"id":"e1726201-9f6f-4381-ac39-6700195103bb","name":"OP H Estimado","credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"operation":"executeQuery","query":"--CANTIDAD DE TAREAS POR ESTADO\nSELECT\n  v.name AS version,\n  CONCAT(u.firstname, ' ', u.lastname) AS asignado_a,\n  count(*)\n\nFROM\n  work_packages wp\nLEFT JOIN\n  versions v ON wp.version_id = v.id\nLEFT JOIN\n  users u ON wp.assigned_to_id = u.id\nWHERE\n  wp.priority_id in (18,7) --18 Funcional\n  AND v.name = '{{ $('Backlog Activo1').item.json.name }}'\n  and u.id in (34,33,14,13,19,66,35,28)\nGROUP BY\n  v.name,\n  wp.assigned_to_id,\n  u.firstname,\n  u.lastname","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,-688],"id":"42e6d4f9-0a54-470a-9a18-81161384d636","name":"OP Tareas Planificadas","executeOnce":true,"credentials":{"postgres":{"id":"XuDNaMCyfczCp6NZ","name":"Openproject"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"personal_cost","mode":"list","cachedResultName":"personal_cost"},"columns":{"mappingMode":"defineBelow","value":{"employee":"={{ $json.asignado_a.trim() }}","task_planificated":"={{ $json.count }}"},"matchingColumns":["employee"],"schema":[{"id":"personal_cost_id","displayName":"personal_cost_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"employee","displayName":"employee","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cost_value","displayName":"cost_value","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"h_planificated","displayName":"h_planificated","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"h_executed","displayName":"h_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"budget_planificated","displayName":"budget_planificated","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"budget_executed","displayName":"budget_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"percentage_executed","displayName":"percentage_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_planificated","displayName":"task_planificated","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"task_executed","displayName":"task_executed","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_advance","displayName":"task_advance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_inprogress","displayName":"task_inprogress","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_onhold","displayName":"task_onhold","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_specified","displayName":"task_specified","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"backlog","displayName":"backlog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,-688],"id":"45665aaa-a87a-4e40-b8a7-fb8a6a9612b6","name":"Update Tareas Planificadas","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"path":"reset_kpi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-800,-672],"id":"97f8230c-5406-43b2-8de1-3f9b00595168","name":"Webhook2","webhookId":"f6f15ba1-1f8f-412f-91fd-6ff85e649005"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"79993639-2818-4ece-8a19-ce60a279b0d0","leftValue":"={{ $('Buscar Codigo').item.json.cant }}","rightValue":"=0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,624],"id":"4050f980-90fe-47f2-9279-ee7fc6efe1b9","name":"Validar Codigo"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(*)::int       AS cant,\n  MAX(employee)       AS employee,\n  MAX(code)           AS code,\n  MAX(phone)          AS phone\nFROM manager_codes\nWHERE code ={{ $('On form submission').item.json.Codigo }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-416,624],"id":"a7f867bc-bdd7-42fd-ba49-966dbacdccaa","name":"Buscar Codigo","notesInFlow":false,"credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"pmo_findings","mode":"list","cachedResultName":"pmo_findings"},"columns":{"mappingMode":"defineBelow","value":{"finding":"={{ $('On form submission').item.json.Hallazgo }}","responsible":"={{ $('On form submission').item.json.Responsable }}","points":"={{ $('On form submission').item.json['Puntos (-/+)'] }}","finding_type":"={{ $('On form submission').item.json.Tipo }}","created_by":"={{ $('Buscar Codigo').item.json.employee }}","ticket":"={{ $('On form submission').item.json.Ticket }}"},"matchingColumns":[],"schema":[{"id":"pmo_findings_id","displayName":"pmo_findings_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"finding","displayName":"finding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"responsible","displayName":"responsible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"finding_date","displayName":"finding_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"points","displayName":"points","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"month","displayName":"month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"year","displayName":"year","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"finding_type","displayName":"finding_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"backlog","displayName":"backlog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_by","displayName":"created_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,448],"id":"012edb2d-dc16-47ad-8074-c24f058c27c0","name":"Crear Politica","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"sendTo":"={{ $('Datos Colaborador').item.json.email }}","subject":"PMO-Aplicaci칩n de Pol칤ticas ","message":"=={{ `\n<div style=\"font-family: Arial, sans-serif; line-height:1.5; color:#222;\">\n  <p style=\"margin:0 0 12px 0;\"><strong>${$('Datos Colaborador').item.json.fullname || ''}</strong></p>\n\n  <p style=\"margin:0 0 12px 0;\">\n    Se registra la pol칤tica, <strong>${$('On form submission').item.json.Hallazgo || ''}</strong>.\n  </p>\n\n  <p style=\"margin:0 0 12px 0;\">\n    Tipo de Pol칤tica: <strong>${$('On form submission').item.json.Tipo || ''}</strong><br>\n    Valor aplicado: <strong>${$('On form submission').item.json['Puntos (-/+)'] ?? ''}</strong>\n  </p>\n\n  <p style=\"margin:16px 0 0 0;\">\n    Atentamente,<br>\n    <strong>PMO</strong><br>\n    Sidesoft\n  </p>\n</div>\n` }}","options":{"bccList":"dcriollo@sidesoft.com.ec","ccList":"mmino@sidesoft.com.ec"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[592,448],"id":"8ac48417-87d4-4781-96a9-82b56ae8ec9c","name":"Notificacion","webhookId":"ecff96f7-31b2-4ba0-97f9-34c17f8bfa8a","credentials":{"gmailOAuth2":{"id":"GQi9R3Ar3c183b0t","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select * from team where fullname='{{ $('On form submission').item.json.Responsable }}'","options":{"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,448],"id":"891d7a79-3f9e-4ebb-9620-db8d6accd2a9","name":"Datos Colaborador","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2666939-6b3a-4b6c-9ae6-b6f035f4dd59","name":"mensaje","value":"=*{{ $json.responsible }}*\n\nSe registra la politica,  *{{ $json.finding }}*.\nTicket,  *{{ $('On form submission').item.json.Ticket }}*.\n\nTipo de Politica: *{{ $json.finding_type }}*. \nValor aplicado: *{{ $json.points }}*\n\nAtentamente PMO \nSidesoft","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,448],"id":"0f434633-1cd6-47d2-ab75-8d50db3d12c0","name":"Set Mensaje"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Datos Colaborador').item.json.phone }}"},{"name":"body","value":"={{ $('Set Mensaje').item.json.mensaje }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,448],"id":"71b2091b-7cc9-49c3-b72f-fe3e79c60e7d","name":"Confirmacion2","executeOnce":true},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"0987525109\",\n  \"body\": \"游뛂 Codigo de Coordinador Incorrecto\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,640],"id":"9e800701-3d93-48cb-bd85-02c7cc968f3f","name":"Codigo invalido","executeOnce":true},{"parameters":{"content":"## Reinicio de Indicadores \n**Inicio de un nuevo Backlog** ","width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,-688],"id":"b4c64e54-4150-4cc8-9a4c-11cb97002323","name":"Sticky Note2"},{"parameters":{"content":"## Registro de Politicas \n**Bajo Demanda** ","width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,592],"id":"6f611969-cff3-4b33-8e74-a2f1674fd5c7","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"79993639-2818-4ece-8a19-ce60a279b0d0","leftValue":"={{ $('Buscar Codigo1').item.json.cant }}","rightValue":"=0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,1088],"id":"272dfa09-f258-4ea6-8701-5c4e3f71858e","name":"Validar Codigo1"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(*)::int       AS cant,\n  MAX(employee)       AS employee,\n  MAX(code)           AS code,\n  MAX(phone)          AS phone\nFROM manager_codes\nWHERE code ={{ $('On form submission').item.json.Codigo }} ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-416,1088],"id":"c1d4ad79-afdb-4428-b01b-0d54634fb522","name":"Buscar Codigo1","notesInFlow":false,"credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"pmo_findings","mode":"list","cachedResultName":"pmo_findings"},"columns":{"mappingMode":"defineBelow","value":{"finding":"={{ $('error_frecuente').item.json.Hallazgo }}","responsible":"={{ $('error_frecuente').item.json.Responsable }}","points":"={{ $('error_frecuente').item.json['Puntos (-/+)'] }}","finding_type":"={{ $('error_frecuente').item.json.Tipo }}","created_by":"={{ $('Buscar Codigo1').item.json.employee }}","ticket":"={{ $('error_frecuente').item.json.Ticket }}"},"matchingColumns":[],"schema":[{"id":"pmo_findings_id","displayName":"pmo_findings_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"finding","displayName":"finding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"responsible","displayName":"responsible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"finding_date","displayName":"finding_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"points","displayName":"points","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"month","displayName":"month","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"year","displayName":"year","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"finding_type","displayName":"finding_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"backlog","displayName":"backlog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_by","displayName":"created_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,912],"id":"d046d46a-2a9d-4f87-b675-c9a82f2611ff","name":"Crear Politica1","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"sendTo":"={{ $('Datos Colaborador1').item.json.email }}","subject":"PMO-Aplicaci칩n de Pol칤ticas ","message":"=={{ `\n<div style=\"font-family: Arial, sans-serif; line-height:1.5; color:#222;\">\n  <p style=\"margin:0 0 12px 0;\"><strong>${$('Datos Colaborador1').item.json.fullname || ''}</strong></p>\n\n  <p style=\"margin:0 0 12px 0;\">\n    Se registra la pol칤tica, <strong>${$('error_frecuente').item.json.Hallazgo || ''}</strong>.\n  </p>\n\n  <p style=\"margin:0 0 12px 0;\">\n    Tipo de Pol칤tica: <strong>${$('error_frecuente').item.json.Tipo || ''}</strong><br>\n    Valor aplicado: <strong>${$('error_frecuente').item.json['Puntos (-/+)'] ?? ''}</strong>\n  </p>\n\n  <p style=\"margin:16px 0 0 0;\">\n    Atentamente,<br>\n    <strong>PMO</strong><br>\n    Sidesoft\n  </p>\n</div>\n` }}","options":{"bccList":"jhinojosa@sidesoft.com.ec, dcriollo@sidesoft.com.ec","ccList":"mmino@sidesoft.com.ec"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[592,912],"id":"01621065-e874-4af6-aa71-862b44e1686a","name":"Notificacion1","webhookId":"ecff96f7-31b2-4ba0-97f9-34c17f8bfa8a","credentials":{"gmailOAuth2":{"id":"GQi9R3Ar3c183b0t","name":"Gmail account"}}},{"parameters":{"operation":"executeQuery","query":"select * from team where fullname='{{ $('On form submission').item.json.Responsable }}'","options":{"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,912],"id":"0c8d7c8e-582f-481d-93e6-add9ea6db4e8","name":"Datos Colaborador1","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2666939-6b3a-4b6c-9ae6-b6f035f4dd59","name":"mensaje","value":"=*{{ $json.responsible }}*\n\nSe registra la politica,  *{{ $json.finding }}*.\nTicket,  *{{ $('error_frecuente').item.json.Ticket }}*.\n\nTipo de Politica: *{{ $json.finding_type }}*. \nValor aplicado: *{{ $json.points }}*\n\nAtentamente PMO \nSidesoft","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,912],"id":"327ebe57-4a0f-46ac-a316-c956674ffcc3","name":"Set Mensaje1"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Datos Colaborador1').item.json.phone }}"},{"name":"body","value":"={{ $('Set Mensaje1').item.json.mensaje }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,912],"id":"2450d468-ef49-49bf-8179-7139af21d743","name":"Confirmacion3","executeOnce":true},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"0987525109\",\n  \"body\": \"游뛂 Codigo de Coordinador Incorrecto\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,1104],"id":"f296a57e-afdf-488c-a9d2-6ee1f058a72e","name":"Codigo invalido1","executeOnce":true},{"parameters":{"content":"## Registro de Errores Frecuentes \n**Bajo Demanda** ","width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,1056],"id":"f2e13f04-f94c-4da2-9523-b98a284926b2","name":"Sticky Note4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,-832],"id":"8f9b3aa5-b3fd-427c-829c-74490452bc42","name":"When clicking Execute workflow"},{"parameters":{"operation":"executeQuery","query":"select distinct backlog from employee_advance","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,-144],"id":"82a460ee-51f9-4706-9f59-b7aeab90080d","name":"Backlog Archivado1","credentials":{"postgres":{"id":"rstjTIk4iBIfw10Y","name":"KPIS PMO"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c84a6a08-b4df-4a6d-a2b0-6b860feead86","leftValue":"={{ $('Backlog Archivado1').item.json.backlog }}","rightValue":"={{ $('Backlog Activo').item.json.name }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,-144],"id":"76a3afae-6f79-4cd1-9ef6-9618ccdad189","name":"If1"},{"parameters":{"formTitle":"SIDESOFT - Registro de Errores Frecuentes","formDescription":"Opcion para registro de errores frecuentes","formFields":{"values":[{"fieldType":"dropdown","fieldOptions":{"values":[{}]}},{"fieldLabel":"Ticket","placeholder":"Ticket"},{"fieldLabel":"Responsable","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Julio Hinojosa"},{"option":"Erika Santana"},{"option":"Elizabeth Moya"},{"option":"Ema Juma"},{"option":"Yahaira Saltos"},{"option":"Marlon Pacheco"},{"option":"Esteban Cuasapaz"},{"option":"Josue Coba"}]},"requiredField":true},{"fieldLabel":"Puntos (-/+)","fieldType":"number","placeholder":"Indique con signo negativo amonestaciones","requiredField":true},{"fieldLabel":"Tipo","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Variable"},{"option":"Horas"}]},"requiredField":true},{"fieldLabel":"Codigo","fieldType":"password","placeholder":"Ingresa aqui tu codigo de Coordinador","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Procesar","respondWithOptions":{"values":{"formSubmittedText":"Tu registro fue procesado y se esta validando..!!"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-800,1088],"id":"c3463687-4484-4c34-8b98-4e207018ba0b","name":"error_frecuente","webhookId":"ea05bdb0-4927-4f3a-8d61-14bc7f6ca771"}],"connections":{"Backlog Activo":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Backlog Archivado1","type":"main","index":0}]]},"Update Progreso":{"main":[[{"node":"OP Estado Tareas","type":"main","index":0}]]},"Actualizacion Estado Tareas":{"main":[[{"node":"OP Horas Ejecutadas","type":"main","index":0}]]},"Update H Ejecutadas":{"main":[[{"node":"Confirmacion","type":"main","index":0}]]},"OP Progreso":{"main":[[{"node":"Update Progreso","type":"main","index":0}]]},"OP Estado Tareas":{"main":[[{"node":"Generar SQL Updates Agrupados","type":"main","index":0}]]},"Generar SQL Updates Agrupados":{"main":[[{"node":"Generar","type":"main","index":0}]]},"Generar":{"main":[[{"node":"Actualizacion Estado Tareas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Backlog Activo","type":"main","index":0}]]},"OP Costo Proyectos":{"main":[[{"node":"Insert Costos Proyectos","type":"main","index":0}]]},"OP Proyecto Gastado":{"main":[[{"node":"Update Gastado por Proyecto","type":"main","index":0}]]},"Insert Costos Proyectos":{"main":[[{"node":"OP Proyecto Gastado","type":"main","index":0}]]},"Update Gastado por Proyecto":{"main":[[{"node":"Facturacion OB","type":"main","index":0}]]},"Truncate Project Costt":{"main":[[{"node":"OP Costo Proyectos","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Truncate Project Costt","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Buscar Codigo","type":"main","index":0}]]},"Facturacion OB":{"main":[[{"node":"Insert Project Cost","type":"main","index":0}]]},"OP Horas Ejecutadas":{"main":[[{"node":"Update H Ejecutadas","type":"main","index":0}]]},"Insert Project Cost":{"main":[[{"node":"Confirmacion1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Backlog Activo","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Truncate Project Costt","type":"main","index":0}]]},"Reinicio Advance":{"main":[[{"node":"OP H Estimado","type":"main","index":0}]]},"Backlog Activo1":{"main":[[{"node":"Backlog Archivado","type":"main","index":0}]]},"Backlog Archivado":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"OP H Estimado","type":"main","index":0}],[{"node":"Reinicio Advance","type":"main","index":0}]]},"Update H PLanned":{"main":[[{"node":"OP Tareas Planificadas","type":"main","index":0}]]},"OP H Estimado":{"main":[[{"node":"Update H PLanned","type":"main","index":0}]]},"OP Tareas Planificadas":{"main":[[{"node":"Update Tareas Planificadas","type":"main","index":0}]]},"Update Tareas Planificadas":{"main":[[{"node":"Error","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Backlog Activo1","type":"main","index":0}]]},"Buscar Codigo":{"main":[[{"node":"Validar Codigo","type":"main","index":0}],[]]},"Validar Codigo":{"main":[[{"node":"Datos Colaborador","type":"main","index":0}],[{"node":"Codigo invalido","type":"main","index":0}]]},"Crear Politica":{"main":[[{"node":"Set Mensaje","type":"main","index":0}]]},"Notificacion":{"main":[[{"node":"Confirmacion2","type":"main","index":0}]]},"Datos Colaborador":{"main":[[{"node":"Crear Politica","type":"main","index":0}],[]]},"Set Mensaje":{"main":[[{"node":"Notificacion","type":"main","index":0}]]},"Validar Codigo1":{"main":[[{"node":"Datos Colaborador1","type":"main","index":0}],[{"node":"Codigo invalido1","type":"main","index":0}]]},"Buscar Codigo1":{"main":[[{"node":"Validar Codigo1","type":"main","index":0}]]},"Crear Politica1":{"main":[[{"node":"Set Mensaje1","type":"main","index":0}]]},"Notificacion1":{"main":[[{"node":"Confirmacion3","type":"main","index":0}]]},"Datos Colaborador1":{"main":[[{"node":"Crear Politica1","type":"main","index":0}]]},"Set Mensaje1":{"main":[[{"node":"Notificacion1","type":"main","index":0}]]},"When clicking Execute workflow":{"main":[[{"node":"Truncate Project Costt","type":"main","index":0}]]},"Backlog Archivado1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"OP Progreso","type":"main","index":0}]]},"error_frecuente":{"main":[[{"node":"Buscar Codigo1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f5bdab1-4691-440b-9914-0ea73b2e7e05","triggerCount":7,"shared":[{"createdAt":"2025-08-15T14:42:11.141Z","updatedAt":"2025-08-15T14:42:11.141Z","role":"workflow:owner","workflowId":"bGCVPQdiIY1Mqwvb","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}