pmo-1-main-agent-viDwPTk64MVN33vE.json
{"createdAt":"2025-08-15T14:55:49.578Z","updatedAt":"2025-09-09T18:16:58.000Z","id":"viDwPTk64MVN33vE","name":"PMO 1 Main Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6719c010-b38f-4973-85f6-680f40219227","name":"memoria","value":3,"type":"number"},{"id":"b49dcc06-6221-4b3b-9206-a7f32fec12ca","name":"numero","value":"={{ ( ($('Webhook1').item.json.body?.key?.remoteJid ?? '') + '' )     .replace(/[\\r\\n]+/g, '')     .replace(/@.*$/, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4208,-464],"id":"5e48a1ba-5c7e-4aa2-bbb1-ca944916259a","name":"Edit Fields"},{"parameters":{"inputText":"=Conversacion Preiva:{{ JSON.stringify($('Chat Memory Manager').item.json.messages.slice(- $('Edit Fields').item.json.memoria)) }}\n\nMensaje actual de Human: {{ $('Webhook1').item.json.body.message.conversation }}","categories":{"categories":[{"category":"Ayuda","description":"El usuario necesita informacion que no corresponde a indicadores, kpis o cualquier otro sinonimo y ayuda sobre procesos y manuales de funcionamiento"},{"category":"Indicadores","description":"se requiere ejecucion de tareas o acciones relacionadas a indicadores o kpis de las areas, siempre y cuando no sea que solicitan el link de los indicadores"}]},"options":{"multiClass":false,"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.","enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-3712,-480],"id":"16ef45d8-c5ae-4318-8600-d8081f69cd44","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3712,-208],"id":"17b4b113-b6b2-4e29-bd9c-51a82320ff07","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"TrLuzSuO4YLOIyM8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"a78ee74a-1e2b-49ca-858c-e931b9efd69b","name":"Instrucciones","value":"eres el asistente de la PMO de Sidesoft CIA. LTDA., para registro de politicas da este link de registro \"https://n8nsidesoft.sidesoftcorp.com/form/a23a5829-bb98-477a-a0f3-1aef4343f210\", el link del Metabase para indicadores es http://186.4.199.239:60208, siempre proporciona este link limpio sin agregar ningun texto adicional ni **","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3088,-768],"id":"d94fe1b5-6ae6-42ab-ac9e-9bbde3de084a","name":"FAQ"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.message.conversation }}","options":{"systemMessage":"={{ $json.Instrucciones }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2752,-480],"id":"23a64245-f459-49ea-b95a-f55846e3a780","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2864,-272],"id":"19165f71-97bb-4fb3-b80b-b366bee599e5","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"TrLuzSuO4YLOIyM8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-4032,-464],"id":"2755b3ba-69f9-406d-bd16-ee51cbbe5a42","name":"Chat Memory Manager"},{"parameters":{"assignments":{"assignments":[{"id":"a78ee74a-1e2b-49ca-858c-e931b9efd69b","name":"Instrucciones","value":"Cuando el mensaje del usuario no sea claro o esté incompleto:  No asumas información.  Responde de manera cordial y empática, solicitando aclaración.  Usa un tono breve y guiado, con ejemplos si es necesario.  Ejemplo de respuesta:  “No logro identificar con claridad tu consulta. ¿Podrías especificar si se trata de indicadores u otro tipo de ayuda?”  De esta forma, el flujo evita respuestas erróneas y conduce al usuario a precisar su necesidad. usa un formato estilizado para la respuesta que sera en whatsapp, usa emogis sin exageracion, se consido, claro y evita ambiguedades, usa un todo totalmente humano y evita parecer un asistente sino un trabajador de la universidad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3088,-560],"id":"4293373b-f993-4622-9c4c-5917b89fa101","name":"Otro"},{"parameters":{"httpMethod":"POST","path":"pmo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4400,-464],"id":"c2278467-edc9-4111-ac45-905d45adbc57","name":"Webhook1","webhookId":"7bf4ba3b-f386-4c83-a546-bc8890f7a18a"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2848,272],"id":"7ff48263-4df6-4489-b7e6-0b6dca616d91","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"TrLuzSuO4YLOIyM8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"inputText":"={{ $('Webhook1').item.json.body.message.conversation }}","categories":{"categories":[{"category":"Reinicio","description":"Cualdo de trata del reinicio, enceramiento o inicio de un nuevo ciclo de los indicadores"}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-2752,80],"id":"bae38fd4-587c-45a8-8a5f-fb19e403273f","name":"Tipo de Actualizacion"},{"parameters":{"url":"https://n8nsidesoft.sidesoftcorp.com/webhook/update_kpi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,320],"id":"c812617f-e715-4baa-b0fe-83f46a25b585","name":"Actualizacion Indicadores"},{"parameters":{"url":"https://n8nsidesoft.sidesoftcorp.com/webhook/update_cost","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2064,320],"id":"d706b51e-e096-4164-96ad-8d4e5926cbfa","name":"Actualizacion Costos"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Edit Fields').item.json.numero }}\",\n  \"body\": \"🔄 Actualizacion Completada..!!\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1840,320],"id":"2dd8c8bc-e541-4e15-b7b9-888873821016","name":"Confirmacion","executeOnce":true},{"parameters":{"url":"https://n8nsidesoft.sidesoftcorp.com/webhook/reset_kpi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,-16],"id":"0c69f0c2-1617-4b17-b935-8723844ce25e","name":"Reset KPI"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"593987525109\",\n  \"body\": \"🔄 Reinicio Exitoso\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2048,-16],"id":"5c5dcb87-af70-46ee-ae2d-d1efc56fcb12","name":"Confirmacion1","executeOnce":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-3168,336],"id":"412833cb-75db-4142-b998-d39e225ea908","name":"Simple Memory"},{"parameters":{"method":"POST","url":"https://agileapichat.sidesoftcorp.com/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pmo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Edit Fields').item.json.numero }}\",\n  \"body\": \"{{ $json.output }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,-480],"id":"12207c8c-0845-40b5-b594-baaa73848558","name":"Confirmacion2","executeOnce":true},{"parameters":{"jsCode":"// Texto original con Markdown\nconst raw = $json.output;\n\n// 1. Elimina formato Markdown tipo [texto](link) y deja solo el link\nlet clean = raw.replace(/\\[.*?\\]\\((.*?)\\)/g, '$1');\n\n// 2. Escapa saltos de línea y comillas para JSON válido\nclean = clean\n  .replace(/\\r?\\n/g, \"\\\\n\")\n  .replace(/\"/g, '\\\\\"');\n\nreturn [\n  {\n    json: {\n      output: clean\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,-480],"id":"4ef39ce5-8314-4d06-81a2-84dbe02e8cb0","name":"Code"}],"connections":{"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"FAQ","type":"main","index":0}],[{"node":"Tipo de Actualizacion","type":"main","index":0}],[{"node":"Otro","type":"main","index":0}],[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"FAQ":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Otro":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Tipo de Actualizacion","type":"ai_languageModel","index":0}]]},"Tipo de Actualizacion":{"main":[[{"node":"Reset KPI","type":"main","index":0}],[{"node":"Actualizacion Indicadores","type":"main","index":0}]]},"Actualizacion Indicadores":{"main":[[{"node":"Actualizacion Costos","type":"main","index":0}]]},"Actualizacion Costos":{"main":[[{"node":"Confirmacion","type":"main","index":0}]]},"Reset KPI":{"main":[[{"node":"Confirmacion1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0},{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code":{"main":[[{"node":"Confirmacion2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f247380e-e19e-4ee4-9fa3-91e4bd4b2452","triggerCount":1,"shared":[{"createdAt":"2025-08-15T14:55:49.586Z","updatedAt":"2025-08-15T14:55:49.586Z","role":"workflow:owner","workflowId":"viDwPTk64MVN33vE","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}