pmocuadres-RLzAPZo9sxxoVunx.json
{"createdAt":"2025-10-03T18:04:20.584Z","updatedAt":"2025-10-17T15:12:56.000Z","id":"RLzAPZo9sxxoVunx","name":"PMOCuadres","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[464,1776],"id":"6c498f61-0e09-466e-ad25-0fbd3bcbebdd","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT C_INVOICE_ID,\nDOCUMENTNO,\nDATEACCT,\nVALOR_M AS \"VALOR_MODULO\",\nVALOR_C AS \"VALOR_CONTABILIDAD\",\n(ABS(VALOR_M) - ABS(VALOR_C)) AS DIFFERENCE,\nDOCSTATUS\nFROM(\nSELECT \n\tA.C_INVOICE_ID, \n\tA.DOCUMENTNO, \n\tA.ISSOTRX, \n\tA.DOCSTATUS,\n\tA.DATEACCT,\n\tROUND(CASE WHEN SUM(IL.PRICEACTUAL) <> 0 THEN CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) \n\t\t  ELSE (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) * -1 END\n\t\t  ELSE CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) \n\t\t  ELSE (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) * -1 END END , 2 ) AS VALOR_M\nFROM C_INVOICE A\nINNER JOIN C_INVOICELINE IL ON A.C_INVOICE_ID = IL.C_INVOICE_ID\nLEFT JOIN C_DOCTYPE B ON A.C_DOCTYPE_ID = B.C_DOCTYPE_ID \nGROUP BY A.C_INVOICE_ID, A.DOCUMENTNO, A.ISSOTRX, A.DOCSTATUS, A.DATEACCT, B.DOCBASETYPE\n) A_MODULE\nFULL OUTER JOIN\n(\nSELECT F.RECORD_ID,\nSUM(AMTSOURCEDR-AMTSOURCECR) AS VALOR_C\nFROM FACT_ACCT F\nINNER JOIN C_ELEMENTVALUE E ON F.ACCOUNT_ID = E.C_ELEMENTVALUE_ID\nWHERE E.ACCOUNTTYPE = 'R'\n--AND F.ACCTVALUE <> '4.1.02.01.01' -- EXCLUIR DESCUENTOS EN VENTAS\n--AND (F.ACCTVALUE LIKE '4.1.01.01%' OR F.ACCTVALUE LIKE '4.1.02.01%')\nAND (F.ACCTVALUE LIKE '4.01.01.01.00%' \n\t OR F.ACCTVALUE LIKE '4.01.01.02.00%' \n\t or F.ACCTVALUE LIKE '4.03.05.06.006'\n\t or F.ACCTVALUE LIKE '4.03.05.06.007'\n\t or F.ACCTVALUE LIKE '4.01.08.01.00%')\nGROUP BY F.RECORD_ID\n) A_ACCOUNTING ON A_ACCOUNTING.RECORD_ID = A_MODULE.C_INVOICE_ID\nWHERE A_MODULE.ISSOTRX = 'Y'\nAND A_MODULE.DOCSTATUS = 'CO'\nAND A_MODULE.DATEACCT BETWEEN '2025-08-01' AND '2025-08-31'\nAND (ABS(VALOR_M) - ABS(VALOR_C)) <> 0","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,-160],"id":"079e3970-f47b-4713-8cf0-a275d184a59a","name":"VentasOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"columns":{"mappingMode":"defineBelow","value":{"valor_modulo":"={{ $('VentasOB').item.json.VALOR_MODULO }}","valor_contabilidad":"={{ $('VentasOB').item.json.VALOR_CONTABILIDAD }}","difference":"={{ $('VentasOB').item.json.difference }}","proyecto":"PETROWORLD","c_invoice_id":"={{ $('VentasOB').item.json.c_invoice_id }}","documentno":"={{ $('VentasOB').item.json.documentno }}","dateacct":"={{ $('VentasOB').item.json.dateacct }}","docstatus":"={{ $('VentasOB').item.json.docstatus }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"c_invoice_id","displayName":"c_invoice_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"valor_modulo","displayName":"valor_modulo","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_contabilidad","displayName":"valor_contabilidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"difference","displayName":"difference","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"docstatus","displayName":"docstatus","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,-176],"id":"c680bdd3-5f0d-49dd-91ca-c99674fa7bd0","name":"InsertVentas","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(it.taxamt), 0.00) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Sswh_Ats_Iva = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '2' -- IVA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(fa.amtacctcr), 0.00) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '2.01.07.01.024', '2.01.07.01.025', '2.01.07.01.001',\n            '2.01.07.01.002', '2.01.07.01.003'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_V, 0.00)),0) as Diferencia\n    i.documentno,\n    COALESCE(im.VALOR_M, 0.00) AS VALOR_M,\n    COALESCE(ct.VALOR_C, 0.00) AS VALOR_C,\n    i.dateacct,\n    COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00) AS Diferencia\nFROM c_invoice i\t\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'Y' \n    AND i.docstatus = 'CO'\n\tAND  COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-08-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,528],"id":"e2011931-0546-4df9-9854-6245c7b14697","name":"VentasRetIvaOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas_ret_iva","mode":"list","cachedResultName":"ventas_ret_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"PETROWORLD","documentno":"={{ $('VentasRetIvaOB').item.json.documentno }}","valor_m":"={{ $('VentasRetIvaOB').item.json.valor_m }}","valor_c":"={{ $('VentasRetIvaOB').item.json.valor_c }}","diferencia":"={{ $('VentasRetIvaOB').item.json.diferencia }}","dateacct":"={{ $('VentasRetIvaOB').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,512],"id":"b17cb88a-4257-4d3c-8d94-430a403bff16","name":"InsertVentasRetIva","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH impuestos AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(it.taxamt), 0.00) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '1' -- RENTA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(fa.amtacctcr), 0.00) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '2.01.07.01.027', '2.01.07.01.028', '2.01.07.01.004', '2.01.07.01.005',\n            '2.01.07.01.006', '2.01.07.01.007', '2.01.07.01.008', '2.01.07.01.009',\n            '2.01.07.01.010', '2.01.07.01.011', '2.01.07.01.012', '2.01.07.01.013',\n            '2.01.07.01.014', '2.01.07.01.015', '2.01.07.01.016', '2.01.07.01.017',\n            '2.01.07.01.018', '2.01.07.01.019', '2.01.07.01.020'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT\n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    COALESCE(im.VALOR_M, 0.00) AS VALOR_M,\n    COALESCE(ct.VALOR_C, 0.00) AS VALOR_C,\n    i.dateacct,\n    COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00) AS Diferencia\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'Y' \n    AND i.docstatus = 'CO'\n\tAND  COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-08-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,304],"id":"742657ac-6021-42f2-8397-bf69b0baca3a","name":"VentasRetRentaOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"operation":"executeQuery","query":"BEGIN;\ndelete from ventas where proyecto='PETROWORLD';\ndelete from ventas_iva where proyecto='PETROWORLD';\ndelete from ventas_ret_renta where proyecto='PETROWORLD';\ndelete from ventas_ret_iva where proyecto='PETROWORLD';\ndelete from compras where proyecto='PETROWORLD';\ndelete from compras_iva where proyecto='PETROWORLD';\ndelete from compras_ret_renta where proyecto='PETROWORLD';\ndelete from compras_ret_iva where proyecto='PETROWORLD';\nCOMMIT;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-160],"id":"6138c885-b307-4c5e-867a-6b4cf2a85117","name":"Execute a SQL query","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas_iva","mode":"list","cachedResultName":"ventas_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"PETROWORLD","diferencia":"={{ $('IVAVentasOB').item.json.diferencia }}","valor_c":"={{ $('IVAVentasOB').item.json.valor_c }}","valor_m":"={{ $('IVAVentasOB').item.json.valor_m }}","documentno":"={{ $('IVAVentasOB').item.json.documentno }}","dateacct":"={{ $('IVAVentasOB').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,64],"id":"7d4abc1b-43c3-496f-b424-202fc760d327","name":"InsertVentasIva","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(it.taxamt), 0.00) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE t.IsTaxDeductable = 'Y'\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(fa.amtacctcr), 0.00) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN ('2.01.07.01.021')\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    COALESCE(im.VALOR_M, 0.00) AS VALOR_M,\n    COALESCE(ct.VALOR_C, 0.00) AS VALOR_C,\n    COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00) AS Diferencia,\n    i.dateacct\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'Y' \n    AND i.docstatus = 'CO'\n\tAND  (COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00))<>0\n    AND i.dateacct BETWEEN '01-08-2025' AND '31-08-2025'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,80],"id":"368c194d-19e5-492c-81eb-1f0a2ba343cb","name":"IVAVentasOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas_ret_renta","mode":"list","cachedResultName":"ventas_ret_renta"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"PETROWORLD","documentno":"={{ $('VentasRetRentaOB').item.json.documentno }}","valor_m":"={{ $('VentasRetRentaOB').item.json.valor_m }}","valor_c":"={{ $('VentasRetRentaOB').item.json.valor_c }}","diferencia":"={{ $('VentasRetRentaOB').item.json.diferencia }}","dateacct":"={{ $('VentasRetRentaOB').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,288],"id":"53d834ce-3019-444a-89fc-4a99e27d96f7","name":"InsertVentasRetRenta","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras_ret_iva","mode":"list","cachedResultName":"compras_ret_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"PETROWORLD","documentno":"={{ $('ComprasRetIvaOB').item.json.documentno }}","valor_m":"={{ $('ComprasRetIvaOB').item.json.valor_m }}","valor_c":"={{ $('ComprasRetIvaOB').item.json.valor_c }}","diferencia":"={{ $('ComprasRetIvaOB').item.json.diferencia }}","dateacct":"={{ $('ComprasRetIvaOB').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,512],"id":"72dcbd6a-5ab2-407d-ac72-287070c41f4b","name":"InsertVentasRetIva1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT C_INVOICE_ID,\nDOCUMENTNO,\nDATEACCT,\nVALOR_M AS \"VALOR_MODULO\",\nVALOR_C AS \"VALOR_CONTABILIDAD\",\n(ABS(VALOR_M) - ABS(VALOR_C)) AS DIFFERENCE,\nDOCSTATUS\nFROM(\nSELECT \n\tA.C_INVOICE_ID, \n\tA.DOCUMENTNO, \n\tA.ISSOTRX, \n\tA.DOCSTATUS,\n\tA.DATEACCT,\n\tROUND(CASE WHEN SUM(IL.PRICEACTUAL) <> 0 THEN CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) \n\t\t  ELSE (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) * -1 END\n\t\t  ELSE CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) \n\t\t  ELSE (SUM(IL.PRICEACTUAL * IL.QTYINVOICED)) * -1 END END , 2 ) AS VALOR_M\nFROM C_INVOICE A\nINNER JOIN C_INVOICELINE IL ON A.C_INVOICE_ID = IL.C_INVOICE_ID\nLEFT JOIN C_DOCTYPE B ON A.C_DOCTYPE_ID = B.C_DOCTYPE_ID \nGROUP BY A.C_INVOICE_ID, A.DOCUMENTNO, A.ISSOTRX, A.DOCSTATUS, A.DATEACCT, B.DOCBASETYPE\n) A_MODULE\nFULL OUTER JOIN\n(\nSELECT F.RECORD_ID,\nSUM(AMTSOURCEDR-AMTSOURCECR) AS VALOR_C\nFROM FACT_ACCT F\nINNER JOIN C_ELEMENTVALUE E ON F.ACCOUNT_ID = E.C_ELEMENTVALUE_ID\nWHERE E.ACCOUNTTYPE = 'R'\n--AND F.ACCTVALUE <> '4.1.02.01.01' -- EXCLUIR DESCUENTOS EN VENTAS\n--AND (F.ACCTVALUE LIKE '4.1.01.01%' OR F.ACCTVALUE LIKE '4.1.02.01%')\nAND (F.ACCTVALUE LIKE '4.01.01.01.00%' \n\t OR F.ACCTVALUE LIKE '4.01.01.02.00%' \n\t or F.ACCTVALUE LIKE '4.03.05.06.006'\n\t or F.ACCTVALUE LIKE '4.03.05.06.007'\n\t or F.ACCTVALUE LIKE '4.01.08.01.00%')\nGROUP BY F.RECORD_ID\n) A_ACCOUNTING ON A_ACCOUNTING.RECORD_ID = A_MODULE.C_INVOICE_ID\nWHERE A_MODULE.ISSOTRX = 'N'\nAND A_MODULE.DOCSTATUS = 'CO'\nAND A_MODULE.DATEACCT BETWEEN '2025-08-01' AND '2025-08-31'\nAND (ABS(VALOR_M) - ABS(VALOR_C)) <> 0","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,-160],"id":"9b062a89-7f3f-40c4-985a-79442caefa11","name":"ComprasOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras","mode":"list","cachedResultName":"compras"},"columns":{"mappingMode":"defineBelow","value":{"valor_modulo":"={{ $('ComprasOB').item.json.VALOR_MODULO }}","valor_contabilidad":"={{ $('ComprasOB').item.json.VALOR_CONTABILIDAD }}","difference":"={{ $('ComprasOB').item.json.difference }}","proyecto":"PETROWORLD","c_invoice_id":"={{ $('ComprasOB').item.json.c_invoice_id }}","documentno":"={{ $('ComprasOB').item.json.documentno }}","dateacct":"={{ $('ComprasOB').item.json.dateacct }}","docstatus":"={{ $('ComprasOB').item.json.docstatus }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"c_invoice_id","displayName":"c_invoice_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"valor_modulo","displayName":"valor_modulo","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_contabilidad","displayName":"valor_contabilidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"difference","displayName":"difference","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"docstatus","displayName":"docstatus","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,-176],"id":"92edba39-665b-4b03-a531-caf2c9629b62","name":"InsertCompras","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(it.taxamt), 0.00) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE t.IsTaxDeductable = 'Y'\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(fa.amtacctcr), 0.00) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN ('2.01.07.01.021')\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    COALESCE(im.VALOR_M, 0.00) AS VALOR_M,\n    COALESCE(ct.VALOR_C, 0.00) AS VALOR_C,\n    COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00) AS Diferencia,\n    i.dateacct\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'N' \n    AND i.docstatus = 'CO'\n\tAND  (COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00))<>0\n    AND i.dateacct BETWEEN '01-08-2025' AND '31-08-2025'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,64],"id":"20bbc167-ec46-4d1b-9900-d089ecfeb434","name":"IVAComprasOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras_iva","mode":"list","cachedResultName":"compras_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"PETROWORLD","diferencia":"={{ $('IVAComprasOB').item.json.diferencia }}","valor_c":"={{ $('IVAComprasOB').item.json.valor_c }}","valor_m":"={{ $('IVAComprasOB').item.json.valor_m }}","documentno":"={{ $('IVAComprasOB').item.json.documentno }}","dateacct":"={{ $('IVAComprasOB').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,48],"id":"c19b6182-4bf1-4bd3-bfb3-5a96905e18f6","name":"InsertCopmrasIva","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH impuestos AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(it.taxamt), 0.00) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '1' -- RENTA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(fa.amtacctcr), 0.00) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '2.01.07.01.027', '2.01.07.01.028', '2.01.07.01.004', '2.01.07.01.005',\n            '2.01.07.01.006', '2.01.07.01.007', '2.01.07.01.008', '2.01.07.01.009',\n            '2.01.07.01.010', '2.01.07.01.011', '2.01.07.01.012', '2.01.07.01.013',\n            '2.01.07.01.014', '2.01.07.01.015', '2.01.07.01.016', '2.01.07.01.017',\n            '2.01.07.01.018', '2.01.07.01.019', '2.01.07.01.020'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT\n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    COALESCE(im.VALOR_M, 0.00) AS VALOR_M,\n    COALESCE(ct.VALOR_C, 0.00) AS VALOR_C,\n    i.dateacct,\n    COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00) AS Diferencia\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'N' \n    AND i.docstatus = 'CO'\n\tAND  COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-08-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,288],"id":"28582811-d67a-43cc-a23e-11127df071f3","name":"ComprasRetRentaOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras_ret_renta","mode":"list","cachedResultName":"compras_ret_renta"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"PETROWORLD","documentno":"={{ $('ComprasRetRentaOB').item.json.documentno }}","valor_m":"={{ $('ComprasRetRentaOB').item.json.valor_m }}","valor_c":"={{ $('ComprasRetRentaOB').item.json.valor_c }}","diferencia":"={{ $('ComprasRetRentaOB').item.json.diferencia }}","dateacct":"={{ $('ComprasRetRentaOB').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,272],"id":"1dc3115e-3a40-40e9-9f6a-6f18bd38cc94","name":"InsertComprasRetRenta","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(it.taxamt), 0.00) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Sswh_Ats_Iva = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '2' -- IVA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        COALESCE(SUM(fa.amtacctcr), 0.00) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '2.01.07.01.024', '2.01.07.01.025', '2.01.07.01.001',\n            '2.01.07.01.002', '2.01.07.01.003'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_V, 0.00)),0) as Diferencia\n    i.documentno,\n    COALESCE(im.VALOR_M, 0.00) AS VALOR_M,\n    COALESCE(ct.VALOR_C, 0.00) AS VALOR_C,\n    i.dateacct,\n    COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00) AS Diferencia\nFROM c_invoice i\t\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'N' \n    AND i.docstatus = 'CO'\n\tAND  COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-08-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,528],"id":"ec7325a4-2426-4672-a8f2-de13e4bfd43c","name":"ComprasRetIvaOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"kfshdkT45OnEjRI0","name":"OPENBRAVO Petroworld"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21e81733-74d4-49c8-8065-0f27de81c5df","leftValue":"={{ $('IVAVentasOB').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,80],"id":"9adae028-9a48-4604-9644-4fbd1b3fdad4","name":"IfVentasIva"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3471d0b1-8439-4c77-9cc6-c2fe9198385d","leftValue":"={{ $('VentasOB').item.json.c_invoice_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,-160],"id":"b951c9f0-b299-4057-8729-28d8bb6afa08","name":"IfVentasOB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b739d4e0-db97-4fc3-abda-d75fa136f430","leftValue":"={{ $('VentasRetRentaOB').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,528],"id":"4ee9986e-e4da-4ca7-8e6c-fdf862b9422b","name":"IfVentasRetIva"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b33ad4b9-b0d7-4166-a2e3-98fa1b67f5c5","leftValue":"={{ $('VentasRetRentaOB').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,304],"id":"acaa929b-eacb-44eb-b05d-c66e47698e5a","name":"IfVentasRetRenta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"603afc68-0278-4e35-982f-795f757f3b72","leftValue":"={{ $('ComprasOB').item.json.c_invoice_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,-160],"id":"14c00b83-ea3e-4580-8ca9-af974fd263e9","name":"IfComprasOB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02e84dfd-a42b-4055-8c55-4ca180f77572","leftValue":"={{ $('IVAComprasOB').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,64],"id":"72a0dbd6-3350-4a40-b2eb-050a3c85b773","name":"IfComprasIva"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4201a850-41b6-4b0d-b924-e6f66fdef036","leftValue":"={{ $('ComprasRetRentaOB').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,288],"id":"bc6a9c36-4466-4238-aa9f-3d930463eeaf","name":"IfComprasRetRenta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ee7b140-3942-4c57-a056-c24743214ea2","leftValue":"={{ $('ComprasRetIvaOB').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,528],"id":"762a2eed-fd80-456c-8a0f-f449dff4eb97","name":"IfComprasRetIva"},{"parameters":{"operation":"executeQuery","query":"SELECT C_INVOICE_ID,\nDOCUMENTNO,\nDATEACCT,\nABS(VALOR_M) AS \"VALOR_MODULO\",\nABS(VALOR_C) AS \"VALOR_CONTABILIDAD\",\nABS((ABS(VALOR_M) - ABS(VALOR_C))) AS DIFFERENCE,\nDOCSTATUS\nFROM(\nSELECT \n\tA.C_INVOICE_ID, \n\tA.DOCUMENTNO, \n\tA.ISSOTRX, \n\tA.DOCSTATUS,\n\tA.DATEACCT,\n\tROUND(CASE \n\t\t\t\tWHEN SUM(IL.PRICEACTUAL) <> 0 THEN \n\t\t\t\t\t CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) \n\t\t  \t\t\t\t\t\t\t    ELSE (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) * -1 END\n\t\t        ELSE \n\t\t\t\t     CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) \n\t\t             ELSE (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) * -1 END END , 2 ) AS VALOR_M\nFROM C_INVOICE A\nINNER JOIN C_INVOICELINE IL ON A.C_INVOICE_ID = IL.C_INVOICE_ID\nLEFT JOIN C_DOCTYPE B ON A.C_DOCTYPE_ID = B.C_DOCTYPE_ID \nGROUP BY A.C_INVOICE_ID, A.DOCUMENTNO, A.ISSOTRX, A.DOCSTATUS, A.DATEACCT, B.DOCBASETYPE\n) A_MODULE\nFULL OUTER JOIN\n(\nSELECT F.RECORD_ID,\nSUM(AMTSOURCEDR-AMTSOURCECR) AS VALOR_C\nFROM FACT_ACCT F\nINNER JOIN C_ELEMENTVALUE E ON F.ACCOUNT_ID = E.C_ELEMENTVALUE_ID\nWHERE E.ACCOUNTTYPE = 'R'\n--AND F.ACCTVALUE <> '4.1.02.01.01' -- EXCLUIR DESCUENTOS EN VENTAS\n--AND (F.ACCTVALUE LIKE '4.1.01.01%' OR F.ACCTVALUE LIKE '4.1.02.01%')\nAND (F.ACCTVALUE LIKE '4.1.01.01.01%' \n\t OR F.ACCTVALUE LIKE '4.1.01.01.02%' OR F.ACCTVALUE LIKE '4.1.01.03.01%' OR F.ACCTVALUE LIKE '4.1.01.03.02%'\n\t)\nGROUP BY F.RECORD_ID\n) A_ACCOUNTING ON A_ACCOUNTING.RECORD_ID = A_MODULE.C_INVOICE_ID\nWHERE A_MODULE.ISSOTRX = 'Y'\nAND A_MODULE.DOCSTATUS = 'CO'\nAND A_MODULE.DATEACCT BETWEEN '2025-08-01' AND '2025-10-31'\nAND (ABS(VALOR_M) - ABS(VALOR_C)) <> 0","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,848],"id":"0cf3e8ab-d5af-4a01-9c77-ea968c3f252b","name":"VentasOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"columns":{"mappingMode":"defineBelow","value":{"valor_modulo":"={{ $('VentasOB1').item.json.VALOR_MODULO }}","valor_contabilidad":"={{ $('VentasOB1').item.json.VALOR_CONTABILIDAD }}","difference":"={{ $('VentasOB1').item.json.difference }}","c_invoice_id":"={{ $('VentasOB1').item.json.c_invoice_id }}","documentno":"={{ $('VentasOB1').item.json.documentno }}","dateacct":"={{ $('VentasOB1').item.json.dateacct }}","docstatus":"={{ $('VentasOB1').item.json.docstatus }}","proyecto":"={{ $('Variables').item.json.proyecto }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"c_invoice_id","displayName":"c_invoice_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"valor_modulo","displayName":"valor_modulo","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_contabilidad","displayName":"valor_contabilidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"difference","displayName":"difference","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"docstatus","displayName":"docstatus","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,832],"id":"c94d8c71-d242-43a0-810d-7fc36fa9f666","name":"InsertVentas1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(it.taxamt), 0.00)) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Sswh_Ats_Iva = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '2' -- IVA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(fa.amtacctcr), 0.00)) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '1.1.05.01.04', '1.1.05.01.05', '1.1.05.01.06',\n            '1.1.05.01.07', '1.1.05.01.08'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_V, 0.00)),0) as Diferencia\n    i.documentno,\n    ABS(COALESCE(im.VALOR_M, 0.00)) AS VALOR_M,\n    ABS(COALESCE(ct.VALOR_C, 0.00)) AS VALOR_C,\n    i.dateacct,\n    ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)) AS Diferencia\nFROM c_invoice i\t\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'Y' \n    AND i.docstatus = 'CO'\n\tAND  ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00))<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-10-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,1536],"id":"9075b992-527e-401e-b345-b547a7a76192","name":"VentasRetIvaOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas_ret_iva","mode":"list","cachedResultName":"ventas_ret_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","documentno":"={{ $('VentasRetIvaOB1').item.json.documentno }}","valor_m":"={{ $('VentasRetIvaOB1').item.json.valor_m }}","valor_c":"={{ $('VentasRetIvaOB1').item.json.valor_c }}","diferencia":"={{ $('VentasRetIvaOB1').item.json.diferencia }}","dateacct":"={{ $('VentasRetIvaOB1').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,1520],"id":"03a38f7d-1bbb-4ad1-9a21-601169d58368","name":"InsertVentasRetIva2","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH impuestos AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(it.taxamt), 0.00)) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '1' -- RENTA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(fa.amtacctcr), 0.00)) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (         \n            '1.1.05.01.10', '1.1.05.01.11', '1.1.05.01.12','1.1.05.01.13', '1.1.05.01.14', '1.1.05.01.15'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT\n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    ABS(COALESCE(im.VALOR_M, 0.00)) AS VALOR_M,\n    ABS(COALESCE(ct.VALOR_C, 0.00)) AS VALOR_C,\n    i.dateacct,\n    ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)) AS Diferencia\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'Y' \n    AND i.docstatus = 'CO'\n\tAND  ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00))<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-10-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,1312],"id":"21834e31-079c-45f9-a2d6-8f8da173ceee","name":"VentasRetRentaOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas_iva","mode":"list","cachedResultName":"ventas_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","diferencia":"={{ $('IVAVentasOB1').item.json.diferencia }}","valor_c":"={{ $('IVAVentasOB1').item.json.valor_c }}","valor_m":"={{ $('IVAVentasOB1').item.json.valor_m }}","documentno":"={{ $('IVAVentasOB1').item.json.documentno }}","dateacct":"={{ $('IVAVentasOB1').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,1072],"id":"46a563c7-abaa-475c-8830-8407be67fcfc","name":"InsertVentasIva1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(it.taxamt), 0.00)) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE t.IsTaxDeductable = 'Y'\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(fa.amtacctcr), 0.00)) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN ('2.1.04.01.01','2.1.04.01.02')\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    ABS(COALESCE(im.VALOR_M, 0.00)) AS VALOR_M,\n    ABS(COALESCE(ct.VALOR_C, 0.00)) AS VALOR_C,\n    ABS(COALESCE(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00),0.00)) AS Diferencia,\n    i.dateacct\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'Y' \n    AND i.docstatus = 'CO'\n\tAND  ABS((COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)))<>0\n    AND i.dateacct BETWEEN '01-08-2025' AND '31-10-2025'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,1088],"id":"667aa227-359f-4429-be88-bb10952a0522","name":"IVAVentasOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ventas_ret_renta","mode":"list","cachedResultName":"ventas_ret_renta"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","documentno":"={{ $('VentasRetRentaOB1').item.json.documentno }}","valor_m":"={{ $('VentasRetRentaOB1').item.json.valor_m }}","valor_c":"={{ $('VentasRetRentaOB1').item.json.valor_c }}","diferencia":"={{ $('VentasRetRentaOB1').item.json.diferencia }}","dateacct":"={{ $('VentasRetRentaOB1').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,1296],"id":"12617f1e-b24d-4d2e-a129-e5cb8bffc63e","name":"InsertVentasRetRenta1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras_ret_iva","mode":"list","cachedResultName":"compras_ret_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","documentno":"={{ $('ComprasRetIvaOB1').item.json.documentno }}","valor_m":"={{ $('ComprasRetIvaOB1').item.json.valor_m }}","valor_c":"={{ $('ComprasRetIvaOB1').item.json.valor_c }}","diferencia":"={{ $('ComprasRetIvaOB1').item.json.diferencia }}","dateacct":"={{ $('ComprasRetIvaOB1').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,1520],"id":"180154d2-ff68-4c67-9c85-56e7844278df","name":"InsertVentasRetIva3","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"\nSELECT C_INVOICE_ID,\nDOCUMENTNO,\nDATEACCT,\nABS(VALOR_M) AS \"VALOR_MODULO\",\nABS(VALOR_C) AS \"VALOR_CONTABILIDAD\",\nABS((ABS(VALOR_M) - ABS(VALOR_C))) AS DIFFERENCE,\nDOCSTATUS\nFROM(\nSELECT \n\tA.C_INVOICE_ID, \n\tA.DOCUMENTNO, \n\tA.ISSOTRX, \n\tA.DOCSTATUS,\n\tA.DATEACCT,\n\tROUND(CASE \n\t\t\t\tWHEN SUM(IL.PRICEACTUAL) <> 0 THEN \n\t\t\t\t\t CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) \n\t\t  \t\t\t\t\t\t\t    ELSE (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) * -1 END\n\t\t        ELSE \n\t\t\t\t     CASE B.DOCBASETYPE WHEN 'ARI' THEN (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) \n\t\t             ELSE (SUM(round(IL.PRICEACTUAL * IL.QTYINVOICED,2))) * -1 END END , 2 ) AS VALOR_M\nFROM C_INVOICE A\nINNER JOIN C_INVOICELINE IL ON A.C_INVOICE_ID = IL.C_INVOICE_ID\nLEFT JOIN C_DOCTYPE B ON A.C_DOCTYPE_ID = B.C_DOCTYPE_ID \nGROUP BY A.C_INVOICE_ID, A.DOCUMENTNO, A.ISSOTRX, A.DOCSTATUS, A.DATEACCT, B.DOCBASETYPE\n) A_MODULE\nFULL OUTER JOIN\n(\nSELECT F.RECORD_ID,\nABS(SUM(AMTSOURCEDR-AMTSOURCECR)) AS VALOR_C\nFROM FACT_ACCT F\nINNER JOIN C_ELEMENTVALUE E ON F.ACCOUNT_ID = E.C_ELEMENTVALUE_ID\nWHERE E.ACCOUNTTYPE = 'R'\n--AND F.ACCTVALUE <> '4.1.02.01.01' -- EXCLUIR DESCUENTOS EN VENTAS\n--AND (F.ACCTVALUE LIKE '4.1.01.01%' OR F.ACCTVALUE LIKE '4.1.02.01%')\nAND (F.ACCTVALUE LIKE '2.1.01.01.01%' \n\t OR F.ACCTVALUE LIKE '2.1.01.01.02%' \n\t )\nGROUP BY F.RECORD_ID\n) A_ACCOUNTING ON A_ACCOUNTING.RECORD_ID = A_MODULE.C_INVOICE_ID\nWHERE A_MODULE.ISSOTRX = 'N'\nAND A_MODULE.DOCSTATUS = 'CO'\nAND A_MODULE.DATEACCT BETWEEN '2025-08-01' AND '2025-10-31'\nAND ABS((ABS(VALOR_M) - ABS(VALOR_C))) <> 0","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,848],"id":"12493e40-6ffe-4a6d-9037-2273ab8c1085","name":"ComprasOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras","mode":"list","cachedResultName":"compras"},"columns":{"mappingMode":"defineBelow","value":{"valor_modulo":"={{ $('ComprasOB1').item.json.VALOR_MODULO }}","valor_contabilidad":"={{ $('ComprasOB1').item.json.VALOR_CONTABILIDAD }}","difference":"={{ $('ComprasOB1').item.json.difference }}","proyecto":"={{ $('Variables').item.json.proyecto }}","c_invoice_id":"={{ $('ComprasOB1').item.json.c_invoice_id }}","documentno":"={{ $('ComprasOB1').item.json.documentno }}","dateacct":"={{ $('ComprasOB1').item.json.dateacct }}","docstatus":"={{ $('ComprasOB1').item.json.docstatus }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"c_invoice_id","displayName":"c_invoice_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"valor_modulo","displayName":"valor_modulo","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_contabilidad","displayName":"valor_contabilidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"difference","displayName":"difference","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"docstatus","displayName":"docstatus","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,832],"id":"641e6db7-b017-4a51-9545-3c2f0681ad31","name":"InsertCompras1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(it.taxamt), 0.00)) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE t.IsTaxDeductable = 'Y'\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(fa.amtacctdr), 0.00)) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN ('1.1.05.01.14','1.1.05.01.15')\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    ABS(COALESCE(im.VALOR_M, 0.00)) AS VALOR_M,\n    ABS(COALESCE(ct.VALOR_C, 0.00)) AS VALOR_C,\n    ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)) AS Diferencia,\n    i.dateacct\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'N' \n    AND i.docstatus = 'CO'\n\tAND  ABS((COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)))<>0\n    AND i.dateacct BETWEEN '01-08-2025' AND '31-10-2025'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,1072],"id":"9ad34905-fd6d-4c7a-a817-08eea730cce8","name":"IVAComprasOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras_iva","mode":"list","cachedResultName":"compras_iva"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","diferencia":"={{ $('IVAComprasOB1').item.json.diferencia }}","valor_c":"={{ $('IVAComprasOB1').item.json.valor_c }}","valor_m":"={{ $('IVAComprasOB1').item.json.valor_m }}","documentno":"={{ $('IVAComprasOB1').item.json.documentno }}","dateacct":"={{ $('IVAComprasOB1').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,1056],"id":"139c6de4-f8bf-4544-b5a4-3f0675a63d94","name":"InsertCopmrasIva1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH impuestos AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(it.taxamt), 0.00)) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '1' -- RENTA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(fa.amtacctcr), 0.00)) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '2.1.04.03.01','2.1.04.03.02', '2.1.04.03.03', '2.1.04.03.04', '2.1.04.03.05',\n            '2.1.04.03.06', '2.1.04.03.07', '2.1.04.03.08', '2.1.04.03.09',\n            '2.1.04.03.10', '2.1.04.03.11', '2.1.04.03.12', '2.1.04.03.13',\n            '2.1.04.03.14', '2.1.04.03.15', '2.1.04.03.16', '2.1.04.03.17',\n            '2.1.04.03.18', '2.1.04.03.19', '2.1.04.03.20','2.1.04.03.21','2.1.04.03.22'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT\n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)),0) as Diferencia\n    i.documentno,\n    ABS(COALESCE(im.VALOR_M, 0.00)) AS VALOR_M,\n    ABS(COALESCE(ct.VALOR_C, 0.00)) AS VALOR_C,\n    i.dateacct,\n    ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)) AS Diferencia\nFROM c_invoice i\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'N' \n    AND i.docstatus = 'CO'\n\tAND  ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00))<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-10-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,1296],"id":"ebd5b5ca-7214-4597-afa5-4c2eb4be63a7","name":"ComprasRetRentaOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras_ret_renta","mode":"list","cachedResultName":"compras_ret_renta"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","documentno":"={{ $('ComprasRetRentaOB1').item.json.documentno }}","valor_m":"={{ $('ComprasRetRentaOB1').item.json.valor_m }}","valor_c":"={{ $('ComprasRetRentaOB1').item.json.valor_c }}","diferencia":"={{ $('ComprasRetRentaOB1').item.json.diferencia }}","dateacct":"={{ $('ComprasRetRentaOB1').item.json.dateacct }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"documentno","displayName":"documentno","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_m","displayName":"valor_m","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"valor_c","displayName":"valor_c","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dateacct","displayName":"dateacct","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"diferencia","displayName":"diferencia","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2128,1280],"id":"820ef74f-de13-441f-90a9-1135706671c2","name":"InsertComprasRetRenta1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"operation":"executeQuery","query":"WITH \nimpuestos AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(it.taxamt), 0.00)) AS VALOR_M\n    FROM c_invoice i\n    LEFT JOIN C_InvoiceTax it ON it.c_invoice_id = i.c_invoice_id\n    LEFT JOIN C_Tax t ON t.C_Tax_id = it.C_Tax_id\n    WHERE \n        t.IsWithholdingTax = 'Y'\n        AND t.EM_Sswh_Ats_Iva = 'Y'\n        AND t.EM_Eei_Sri_Tax_Type = '2' -- IVA\n    GROUP BY i.c_invoice_id\n),\ncuentas AS (\n    SELECT \n        i.c_invoice_id,\n        ABS(COALESCE(SUM(fa.amtacctcr), 0.00)) AS VALOR_C\n    FROM c_invoice i\n    LEFT JOIN Fact_acct fa ON fa.record_id = i.c_invoice_id \n        AND fa.acctvalue IN (\n            '2.1.04.02.01', '2.1.04.02.02', '2.1.04.02.03',\n            '2.1.04.02.04', '2.1.04.02.05','2.1.04.02.06'\n        )\n    GROUP BY i.c_invoice_id\n)\nSELECT \n\t--COALESCE(count(*),0) as Descuadres\n\t--coalesce(sum( COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_V, 0.00)),0) as Diferencia\n    i.documentno,\n    ABS(COALESCE(im.VALOR_M, 0.00)) AS VALOR_M,\n    ABS(COALESCE(ct.VALOR_C, 0.00)) AS VALOR_C,\n    i.dateacct,\n    ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00)) AS Diferencia\nFROM c_invoice i\t\nLEFT JOIN impuestos im ON i.c_invoice_id = im.c_invoice_id\nLEFT JOIN cuentas ct ON i.c_invoice_id = ct.c_invoice_id\nWHERE \n    i.issotrx = 'N' \n    AND i.docstatus = 'CO'\n\tAND  ABS(COALESCE(im.VALOR_M, 0.00) - COALESCE(ct.VALOR_C, 0.00))<>0\n    AND i.dateacct BETWEEN '2025-08-01' AND '2025-10-31'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1680,1536],"id":"5026f89b-6e87-4b81-acab-54ea494cd632","name":"ComprasRetIvaOB1","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"21e81733-74d4-49c8-8065-0f27de81c5df","leftValue":"={{ $('IVAVentasOB1').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1088],"id":"b0bddc40-f51c-413c-b78a-806dfb986423","name":"IfVentasIva1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3471d0b1-8439-4c77-9cc6-c2fe9198385d","leftValue":"={{ $('VentasOB1').item.json.c_invoice_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,848],"id":"7838b0e3-2044-487b-89c5-8b89533c9efa","name":"IfVentasOB1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b739d4e0-db97-4fc3-abda-d75fa136f430","leftValue":"={{ $('VentasRetIvaOB1').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1536],"id":"697d8e52-8f5e-4cb1-8501-e1cbe80e00a3","name":"IfVentasRetIva1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b33ad4b9-b0d7-4166-a2e3-98fa1b67f5c5","leftValue":"={{ $('VentasRetRentaOB1').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1312],"id":"48f4dc11-6a88-4b35-b541-7eaff63475a6","name":"IfVentasRetRenta1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"603afc68-0278-4e35-982f-795f757f3b72","leftValue":"={{ $('ComprasOB1').item.json.c_invoice_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1888,848],"id":"e39dec26-653c-4065-b26e-87a2dc28718f","name":"IfComprasOB1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02e84dfd-a42b-4055-8c55-4ca180f77572","leftValue":"={{ $('IVAComprasOB1').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1888,1072],"id":"377ebb5d-ecd7-42ac-a477-f7bd5d4c5d08","name":"IfComprasIva1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4201a850-41b6-4b0d-b924-e6f66fdef036","leftValue":"={{ $('ComprasRetRentaOB1').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1888,1296],"id":"6cc9f703-6f6c-4b61-9266-8476d03ced5f","name":"IfComprasRetRenta1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ee7b140-3942-4c57-a056-c24743214ea2","leftValue":"={{ $('ComprasRetIvaOB1').item.json.documentno }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1888,1536],"id":"2dcaf1d9-20e9-4b59-99fa-5a08e1abd563","name":"IfComprasRetIva1"},{"parameters":{"content":"## CARNIDEM \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":1024,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,688],"id":"4037a7d9-fe4d-48fd-b5c8-1ac046bd484a","name":"Sticky Note"},{"parameters":{"operation":"executeQuery","query":"BEGIN;\ndelete from ventas where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from ventas_iva where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from ventas_ret_renta where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from ventas_ret_iva where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from compras where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from compras_iva where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from compras_ret_renta where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from compras_ret_iva where proyecto='{{ $('Variables').item.json.proyecto }}';\ndelete from inventario where proyecto='{{ $('Variables').item.json.proyecto }}';\nCOMMIT;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,848],"id":"5d35b16a-97b9-4ccd-806d-b72a617fb0cc","name":"EncerarCarnidem","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"assignments":{"assignments":[{"id":"4a21dc6f-1f9b-4d93-9dff-5a8b89030388","name":"proyecto","value":"CARNIDEM","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,848],"id":"7eae091c-7a17-4880-8220-52f1a45ec59a","name":"Variables"},{"parameters":{"operation":"executeQuery","query":"-- Cuadre modulo vs contabilidad de inventario --\n\nSELECT *            \n\n--'update m_transaction_cost set cost = ' || 0 || ' where m_transaction_id = ''' || m_transaction_id || ''';',\n\n--'''' || m_transaction_id || ''','\n\nFROM\n\n(\n\nSELECT trx.m_transaction_id,\n\n               trx.M_PRODUCT_ID,\n\n               trx.MOVEMENTQTY AS QTY,\n\n               CASE\n\n                              WHEN trx.MOVEMENTQTY < 0 THEN - tc.trxcost\n\n                              ELSE tc.trxcost\n\n               END AS Suma,\n\n               trx.movementdate,\n\n               CASE\n\n                              WHEN trx.movementtype = 'C-' THEN 'albaran cliente'\n\n                              WHEN trx.movementtype = 'I+' THEN 'inventario fisico'\n\n                              WHEN trx.movementtype = 'M-' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'M+' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'V+' THEN 'albaran proveedor'\n\n                              WHEN trx.movementtype = 'P+' THEN 'producción'\n\n               END as tipo,\n\n               CASE\n\n                              WHEN trx.movementtype = 'C-' THEN MIO.documentno\n\n                              WHEN trx.movementtype = 'I+' THEN MIV.documentno\n\n                              WHEN trx.movementtype = 'M-' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'M+' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'V+' THEN MIO.documentno\n\n                              WHEN trx.movementtype = 'P+' THEN 'producción'\n\n               END as documento,\n\n               CASE                    --select * from m_production limit 10\n\n                              WHEN trx.movementtype = 'C-' THEN MIO.docstatus\n\n                              WHEN trx.movementtype = 'I+' THEN MIV.processed\n\n                              WHEN trx.movementtype = 'M-' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'M+' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'V+' THEN MIO.docstatus\n\n                              WHEN trx.movementtype = 'P+' THEN MP.processed\n\n               END as estado,\n\n               CASE\n\n                              WHEN trx.movementtype = 'C-' THEN MIO.posted\n\n                              WHEN trx.movementtype = 'I+' THEN MIV.posted\n\n                              WHEN trx.movementtype = 'M-' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'M+' THEN 'm_movementline'\n\n                              WHEN trx.movementtype = 'V+' THEN MIO.posted\n\n                              WHEN trx.movementtype = 'P+' THEN MP.posted\n\n               END as contabilizado,\n\n               CASE\n\n                              WHEN trx.movementtype = 'C-' THEN trx.m_inoutline_id\n\n                              WHEN trx.movementtype = 'I+' THEN trx.m_inventoryline_id\n\n                              WHEN trx.movementtype = 'M-' THEN trx.m_movementline_id\n\n                              WHEN trx.movementtype = 'M+' THEN trx.m_movementline_id\n\n                              WHEN trx.movementtype = 'V+' THEN trx.m_inoutline_id\n\n                              WHEN trx.movementtype = 'P+' THEN trx.m_productionline_id\n\n               END as line_id\n\nFROM\n\n               M_TRANSACTION trx\n\n               LEFT JOIN (\n\n                              SELECT\n\n                                            sum(cost) AS trxcost, m_transaction_id, c_currency_id\n\n                              FROM M_TRANSACTION_COST\n\n                              WHERE\n\n                                            dateacct < to_date ('01-11-2025')\n\n                                            --AND dateacct > to_date ('31-12-2023')\n\n                              GROUP BY\n\n                                            m_transaction_id, c_currency_id\n\n               ) tc ON trx.m_transaction_id = tc.m_transaction_id\n\n               LEFT JOIN M_INOUTLINE MOL ON trx.M_INOUTLINE_ID = MOL.M_INOUTLINE_ID\n\n               LEFT JOIN M_INOUT MIO ON MIO.M_INOUT_ID = MOL.M_INOUT_ID\n\n               LEFT JOIN M_INVENTORYLINE MIL ON trx.M_INVENTORYLINE_ID = MIL.M_INVENTORYLINE_ID\n\n               LEFT JOIN M_INVENTORY MIV ON MIV.M_INVENTORY_ID = MIL.M_INVENTORY_ID\n\n               LEFT JOIN M_PRODUCTIONLINE MPL ON trx.M_PRODUCTIONLINE_ID = MPL.M_PRODUCTIONLINE_ID\n\n               LEFT JOIN M_PRODUCTIONPLAN MPP ON MPP.M_PRODUCTIONPLAN_ID = MPL.M_PRODUCTIONPLAN_ID\n\n               LEFT JOIN M_PRODUCTION MP ON MPP.M_PRODUCTION_ID = MP.M_PRODUCTION_ID\n\nWHERE\n\n               trx.MOVEMENTDATE < to_date ('01-11-2025')\n\n               --AND MIO.DOCSTATUS = 'CO'\n\n               --AND trx.m_product_id = '943BD4F09CD34D0A88E478894F48445F'\n\n               --AND trx.MOVEMENTDATE > to_date ('31-12-2023')\n\n               AND trx.movementtype in ('C-', 'I+', 'V+', 'P+')\n\n               --            AND trx.TRXPROCESSDATE >= to_time\n\n) AS MODULO\n\nFULL OUTER JOIN\n\n(\n\nSELECT LINE_ID, FA.ACCTVALUE, SUM(AMTSOURCEDR - AMTSOURCECR) AS SALDO\n\n               FROM FACT_ACCT FA\n\n               INNER JOIN C_ELEMENTVALUE EV ON FA.ACCOUNT_ID = EV.C_ELEMENTVALUE_ID\n\n               WHERE FA.AD_TABLE_ID IN ('319', '321', '325')\n\n               and FA.DATEACCT < to_date ('01-11-2025')\n\n               --AND FA.m_product_id = '943BD4F09CD34D0A88E478894F48445F'\n\n               AND EV.ACCOUNTTYPE = 'A'\n\n               GROUP BY FA.LINE_ID, FA.ACCTVALUE\n\n) CONTABILIDAD ON MODULO.LINE_ID = CONTABILIDAD.LINE_ID\n\nWHERE COALESCE(SUMA,0) <> COALESCE(SALDO,0)\n\n--and estado = 'VO';\n\n--AND SUMA IS NOT NULL;\n\n \n\n--select * from fact_acct where line_id = '9BBCB025C2CD4B458064282F05927846';\n\n--select * from m_transaction where m_inoutline_id = 'F717B421740F4A4CB3E44F616A95EF4A'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2496,832],"id":"882c7408-ccc7-457d-8ae3-f0eda1605145","name":"InventarioOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"603afc68-0278-4e35-982f-795f757f3b72","leftValue":"={{ $('InventarioOB').item.json.m_product_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,832],"id":"beb2dae7-42a6-4625-a808-6803bacfbfc1","name":"IfInventarioOB"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"inventario","mode":"list","cachedResultName":"inventario"},"columns":{"mappingMode":"defineBelow","value":{"qty":"={{ $('InventarioOB').item.json.qty }}","m_transaction_id":"={{ $('InventarioOB').item.json.m_transaction_id }}","m_product_id":"={{ $('InventarioOB').item.json.m_product_id }}","movementdate":"={{ $('InventarioOB').item.json.movementdate }}","tipo":"={{ $('InventarioOB').item.json.tipo }}","documento":"={{ $('InventarioOB').item.json.documento }}","estado":"={{ $('InventarioOB').item.json.estado }}","contabilizado":"={{ $('InventarioOB').item.json.contabilizado }}","line_id":"={{ $('InventarioOB').item.json.line_id }}","acctvalue":"={{ $('InventarioOB').item.json.acctvalue }}","proyecto":"={{ $('Variables').item.json.proyecto }}","valor_m":"={{ $('InventarioOB').item.json.suma }}","valor_c":"={{ $('InventarioOB').item.json.saldo }}"},"matchingColumns":[],"schema":[{"id":"m_transaction_id","displayName":"m_transaction_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"m_product_id","displayName":"m_product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"qty","displayName":"qty","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"valor_m","displayName":"valor_m","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"movementdate","displayName":"movementdate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"documento","displayName":"documento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contabilizado","displayName":"contabilizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"line_id","displayName":"line_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"acctvalue","displayName":"acctvalue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor_c","displayName":"valor_c","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2944,816],"id":"e1d513a2-3828-47c1-86a3-bd10e75f86bd","name":"InsertInventario","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"content":"## OPENBRAVO\n## INVENTARIO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":368,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2432,688],"id":"3c916a26-a767-4aef-ba82-4bb05d223d54","name":"Sticky Note3"},{"parameters":{"content":"## OPENBRAVO\n## COMPRAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":1008,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1616,688],"id":"2da8dc1e-0731-4a0a-9227-a7315929acb7","name":"Sticky Note4"},{"parameters":{"content":"## OPENBRAVO\n## VENTAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":1024,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,688],"id":"b4270773-d658-46f6-830d-2508f8e61ac0","name":"Sticky Note5"},{"parameters":{"content":"## BDD CUADRES\n## COMPRAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":1024,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,688],"id":"b03d3b6f-155c-43ba-8c5b-201da2fd17fa","name":"Sticky Note6"},{"parameters":{"content":"## BDD CUADRES\n## COMPRAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":1008,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2064,688],"id":"9144784d-3623-49d2-9245-64e57c2eef28","name":"Sticky Note7"},{"parameters":{"content":"## BDD CUADRES\n## INVENTARIO\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":368,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2880,688],"id":"460371e6-7ded-4a56-9573-dc4bbc28c699","name":"Sticky Note8"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cxc","mode":"list","cachedResultName":"cxc"},"columns":{"mappingMode":"defineBelow","value":{"proyecto":"={{ $('Variables').item.json.proyecto }}","amount":0,"scope":"={{ $('CxCOB').item.json.scope }}","invoice_id":"={{ $('CxCOB').item.json.invoiceid }}","doubtful_debt":"={{ $('CxCOB').item.json.doubtfuldebt }}","fact_amount":0,"diff_amount":0,"bp_id":"={{ $('CxCOB').item.json.bpid }}","bp_name":"={{ $('CxCOB').item.json.bpname}}","doc_no":"={{ $('CxCOB').item.json.docno }}","date_invoiced":"={{ $('CxCOB').item.json.dateinvoiced }}"},"matchingColumns":[],"schema":[{"id":"proyecto","displayName":"proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bp_id","displayName":"bp_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bp_name","displayName":"bp_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"scope","displayName":"scope","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"invoice_id","displayName":"invoice_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"doc_no","displayName":"doc_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date_invoiced","displayName":"date_invoiced","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"doubtful_debt","displayName":"doubtful_debt","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"fact_amount","displayName":"fact_amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"diff_amount","displayName":"diff_amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2944,1184],"id":"d0793254-b53c-487e-8159-80c6da8a5265","name":"InsertInventario1","credentials":{"postgres":{"id":"pTgQrESP0cfnJYNh","name":"PMOCuadresDB"}}},{"parameters":{"content":"## OPENBRAVO\n## CXC\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":368,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2432,1056],"id":"e421edad-4508-45fd-83de-9268e853a3da","name":"Sticky Note9"},{"parameters":{"content":"## BDD CUADRES\n## CXC\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":368,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2880,1056],"id":"fc7885bc-cbaa-43d9-b8c6-c792f019b69c","name":"Sticky Note10"},{"parameters":{"operation":"executeQuery","query":"SELECT * \nFROM (\n   SELECT B.bpId, bp.name as bpName, FIN_AGING_INVOICECURRENCY_RATE(B.c_invoice_id, '100', B.c_currency_id) * B.amount as amount, B.scope, B.c_invoice_id as invoiceId, B.documentNo as docNo, \n   B.dateacct as dateInvoiced, FIN_AGING_INVOICECURRENCY_RATE(B.c_invoice_id, '100', B.c_currency_id) * (B.doubtfuldebtamt) as doubtfuldebt\n   FROM (  \n\t SELECT A.c_invoice_id, A.c_currency_id, A.bpId, A.documentNo, A.dateacct, SUM(A.amount) as amount, SUM(A.doubtfuldebtamt) as doubtfuldebtAmt, A.scope\n\t FROM ( \n\t\t SELECT i.c_bpartner_id AS bpId, i.c_invoice_id,\n\t\t\tCASE\n\t\t\t WHEN i.issotrx = 'N' AND i.poreference IS NOT NULL THEN FIN_AGING_GETDOCNO(i.poreference, i.documentNo, i.ad_org_id)\n\t\t\t ELSE i.documentNo\n\t\t\t END                AS documentNo,\n\t\t\ti.dateacct, i.c_currency_id,\n\t\t\tCASE \n\t\t\t WHEN to_char('Y') = 'Y' AND psd.DOUBTFULDEBT_AMOUNT <> 0 AND FIN_AGING_ISDOUBTFULTDEBT(psd.fin_payment_schedule_invoice, TO_DATE('24-04-2025')) = 'Y' THEN  psd.amount + psd.writeoffamt - psd.DOUBTFULDEBT_AMOUNT\n\t\t\t ELSE psd.amount + psd.writeoffamt\n\t\t\t END                AS amount, \n\t\t\tCASE\n\t\t\t WHEN psd.DOUBTFULDEBT_AMOUNT <> 0 AND FIN_AGING_ISDOUBTFULTDEBT(psd.fin_payment_schedule_invoice, TO_DATE('24-04-2025')) = 'Y' THEN psd.DOUBTFULDEBT_AMOUNT\n\t\t\t ELSE 0\n\t\t\t END                AS doubtfuldebtamt,\n\t\t\tCASE \n\t\t\t WHEN Trunc(ps.duedate) > TO_DATE('31-12-1999') THEN 0 \n\t\t\t WHEN Trunc(ps.duedate) > TO_DATE('31-12-1999') THEN 1 \n\t\t\t WHEN Trunc(ps.duedate) > TO_DATE('31-12-1999') THEN 2 \n\t\t\t WHEN Trunc(ps.duedate) > TO_DATE('31-12-1999') THEN 3 \n\t\t\t WHEN Trunc(ps.duedate) > TO_DATE('31-12-1999') THEN 4 \n\t\t\t ELSE 5 \n\t\t\tEND                                                        AS scope\n\t\t FROM  fin_payment_scheduledetail psd \n\t\t       INNER JOIN fin_payment_schedule ps ON psd.fin_payment_schedule_invoice = ps.fin_payment_schedule_id \n\t\t       INNER JOIN c_invoice            i  ON ps.c_invoice_id = i.c_invoice_id \n\t\t WHERE psd.isactive = 'Y' \n\t\t   AND psd.iscanceled = 'N' \n\t\t   --AND (psd.AD_Org_ID in ('1')) \n\t\t   --AND (i.AD_Org_ID in ('1')) \n\t\t   AND 2=2\n\t\t   AND i.issotrx = 'Y'\n\t\t   AND 1=1\n\t\t   AND Trunc(i.dateacct) <= TO_DATE('31-10-2025')\n\t\t   AND (   psd.fin_payment_detail_id IS NULL \n\t\t\tOR psd.isinvoicepaid = 'N' \n\t\t\tOR (psd.isinvoicepaid = 'Y' \n\t\t\t    AND EXISTS (SELECT 1 \n\t\t\t\t      FROM  fin_payment_detail pd \n\t\t\t\t\t    INNER JOIN fin_payment p ON pd.fin_payment_id = p.fin_payment_id \n\t\t\t\t      WHERE Trunc(p.paymentdate) > TO_DATE('31-12-1999')\n\t\t\t\t\tAND pd.fin_payment_detail_id = psd.fin_payment_detail_id) ) ) \n\t      ) A       \n\tGROUP BY A.c_invoice_id, A.c_currency_id, A.bpId, A.documentNo, A.dateacct, A.scope\n       ) B\n  INNER JOIN c_bpartner bp on (B.bpId = bp.c_bpartner_id)     \n  ) C\nFULL OUTER JOIN\n(\nSELECT C_BPARTNER_ID, RECORD_ID, abs(SUM(CASE WHEN DOCBASETYPE = 'ARI' THEN (AMTSOURCEDR)-(AMTSOURCECR) ELSE ((AMTSOURCECR)-(AMTSOURCEDR)) END)) AS AMOUNT\nFROM FACT_ACCT F\nWHERE ACCTVALUE IN ('1.1.02.01.01', '2.1.10.01.01', '1.1.05.02.03', '1.1.05.01.02') --cuenta financiera\nAND DATEACCT <= '24-04-2025' --fecha de corte de contabilidad\nGROUP BY C_BPARTNER_ID, RECORD_ID\n) X ON C.INVOICEID = X.RECORD_ID\nWHERE abs(C.AMOUNT) <> abs(X.AMOUNT)\nAND DATEINVOICED BETWEEN '2025-01-01' AND '2025-10-31' --rango de fechas\nORDER BY C.BPID","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2496,1200],"id":"292e4a13-2fcd-45ec-a68b-94782ea684d1","name":"CxCOB","executeOnce":true,"alwaysOutputData":true,"credentials":{"postgres":{"id":"3ZvPaotNicxFL4eK","name":"OPENBRAVO Carnidem"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"603afc68-0278-4e35-982f-795f757f3b72","leftValue":"={{ $('CxCOB').item.json.bpname }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,1200],"id":"1b7af611-c94e-4645-b296-350df2b9893d","name":"IfCxCOB"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Variables","type":"main","index":0}]]},"VentasOB":{"main":[[{"node":"IfVentasOB","type":"main","index":0}]]},"InsertVentas":{"main":[[{"node":"IVAVentasOB","type":"main","index":0}]]},"VentasRetIvaOB":{"main":[[{"node":"IfVentasRetIva","type":"main","index":0}]]},"VentasRetRentaOB":{"main":[[{"node":"IfVentasRetRenta","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"VentasOB","type":"main","index":0}]]},"InsertVentasIva":{"main":[[{"node":"VentasRetRentaOB","type":"main","index":0}]]},"IVAVentasOB":{"main":[[{"node":"IfVentasIva","type":"main","index":0}]]},"InsertVentasRetRenta":{"main":[[{"node":"VentasRetIvaOB","type":"main","index":0}]]},"ComprasOB":{"main":[[{"node":"IfComprasOB","type":"main","index":0}]]},"InsertCompras":{"main":[[{"node":"IVAComprasOB","type":"main","index":0}]]},"IVAComprasOB":{"main":[[{"node":"IfComprasIva","type":"main","index":0}]]},"InsertCopmrasIva":{"main":[[{"node":"ComprasRetRentaOB","type":"main","index":0}]]},"ComprasRetRentaOB":{"main":[[{"node":"IfComprasRetRenta","type":"main","index":0}]]},"InsertComprasRetRenta":{"main":[[{"node":"ComprasRetIvaOB","type":"main","index":0}]]},"ComprasRetIvaOB":{"main":[[{"node":"IfComprasRetIva","type":"main","index":0}]]},"InsertVentasRetIva":{"main":[[{"node":"ComprasOB","type":"main","index":0}]]},"IfVentasIva":{"main":[[{"node":"InsertVentasIva","type":"main","index":0}],[{"node":"VentasRetRentaOB","type":"main","index":0}]]},"IfVentasOB":{"main":[[{"node":"InsertVentas","type":"main","index":0}],[{"node":"IVAVentasOB","type":"main","index":0}]]},"IfVentasRetIva":{"main":[[{"node":"InsertVentasRetIva","type":"main","index":0}],[{"node":"ComprasOB","type":"main","index":0}]]},"IfVentasRetRenta":{"main":[[{"node":"InsertVentasRetRenta","type":"main","index":0}],[{"node":"VentasRetIvaOB","type":"main","index":0}]]},"IfComprasOB":{"main":[[{"node":"InsertCompras","type":"main","index":0}],[{"node":"IVAComprasOB","type":"main","index":0}]]},"IfComprasIva":{"main":[[{"node":"InsertCopmrasIva","type":"main","index":0}],[{"node":"ComprasRetRentaOB","type":"main","index":0}]]},"IfComprasRetRenta":{"main":[[{"node":"InsertComprasRetRenta","type":"main","index":0}],[{"node":"ComprasRetIvaOB","type":"main","index":0}]]},"IfComprasRetIva":{"main":[[{"node":"InsertVentasRetIva1","type":"main","index":0}]]},"VentasOB1":{"main":[[{"node":"IfVentasOB1","type":"main","index":0}]]},"InsertVentas1":{"main":[[{"node":"IVAVentasOB1","type":"main","index":0}]]},"VentasRetIvaOB1":{"main":[[{"node":"IfVentasRetIva1","type":"main","index":0}]]},"InsertVentasRetIva2":{"main":[[{"node":"ComprasOB1","type":"main","index":0}]]},"VentasRetRentaOB1":{"main":[[{"node":"IfVentasRetRenta1","type":"main","index":0}]]},"InsertVentasIva1":{"main":[[{"node":"VentasRetRentaOB1","type":"main","index":0}]]},"IVAVentasOB1":{"main":[[{"node":"IfVentasIva1","type":"main","index":0}]]},"InsertVentasRetRenta1":{"main":[[{"node":"VentasRetIvaOB1","type":"main","index":0}]]},"ComprasOB1":{"main":[[{"node":"IfComprasOB1","type":"main","index":0}]]},"InsertCompras1":{"main":[[{"node":"IVAComprasOB1","type":"main","index":0}]]},"IVAComprasOB1":{"main":[[{"node":"IfComprasIva1","type":"main","index":0}]]},"InsertCopmrasIva1":{"main":[[{"node":"ComprasRetRentaOB1","type":"main","index":0}]]},"ComprasRetRentaOB1":{"main":[[{"node":"IfComprasRetRenta1","type":"main","index":0}]]},"InsertComprasRetRenta1":{"main":[[{"node":"ComprasRetIvaOB1","type":"main","index":0}]]},"ComprasRetIvaOB1":{"main":[[{"node":"IfComprasRetIva1","type":"main","index":0}]]},"IfVentasIva1":{"main":[[{"node":"InsertVentasIva1","type":"main","index":0}],[{"node":"VentasRetRentaOB1","type":"main","index":0}]]},"IfVentasOB1":{"main":[[{"node":"InsertVentas1","type":"main","index":0}],[{"node":"IVAVentasOB1","type":"main","index":0}]]},"IfVentasRetIva1":{"main":[[{"node":"InsertVentasRetIva2","type":"main","index":0}],[{"node":"ComprasOB1","type":"main","index":0}]]},"IfVentasRetRenta1":{"main":[[{"node":"InsertVentasRetRenta1","type":"main","index":0}],[{"node":"VentasRetIvaOB1","type":"main","index":0}]]},"IfComprasOB1":{"main":[[{"node":"InsertCompras1","type":"main","index":0}],[{"node":"IVAComprasOB1","type":"main","index":0}]]},"IfComprasIva1":{"main":[[{"node":"InsertCopmrasIva1","type":"main","index":0}],[{"node":"ComprasRetRentaOB1","type":"main","index":0}]]},"IfComprasRetRenta1":{"main":[[{"node":"InsertComprasRetRenta1","type":"main","index":0}],[{"node":"ComprasRetIvaOB1","type":"main","index":0}]]},"IfComprasRetIva1":{"main":[[{"node":"InsertVentasRetIva3","type":"main","index":0}],[{"node":"InventarioOB","type":"main","index":0}]]},"EncerarCarnidem":{"main":[[{"node":"VentasOB1","type":"main","index":0}]]},"Variables":{"main":[[{"node":"EncerarCarnidem","type":"main","index":0}]]},"InventarioOB":{"main":[[{"node":"IfInventarioOB","type":"main","index":0}]]},"IfInventarioOB":{"main":[[{"node":"InsertInventario","type":"main","index":0}],[{"node":"CxCOB","type":"main","index":0}]]},"InsertVentasRetIva3":{"main":[[{"node":"InventarioOB","type":"main","index":0}]]},"CxCOB":{"main":[[{"node":"IfCxCOB","type":"main","index":0}]]},"IfCxCOB":{"main":[[{"node":"InsertInventario1","type":"main","index":0}]]},"InsertInventario":{"main":[[{"node":"CxCOB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e5ce1694-3e0c-4afc-8c1b-6b1ed4cbd45e","triggerCount":0,"shared":[{"createdAt":"2025-10-03T18:04:20.590Z","updatedAt":"2025-10-03T18:04:20.590Z","role":"workflow:owner","workflowId":"RLzAPZo9sxxoVunx","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}