testpmo-vO60dJE1wFlwi0SG
{"createdAt":"2025-09-20T23:34:03.577Z","updatedAt":"2025-10-16T03:34:42.000Z","id":"vO60dJE1wFlwi0SG","name":"testPMO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"messagingTool","responseMode":"lastNode","responseData":"allEntries","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[496,-208],"id":"07e975f7-2314-4292-ab5b-04152215b5e6","name":"messagingTool","webhookId":"4c9e0aae-eee7-46fb-a6f7-bd0e2201e6bc"},{"parameters":{"descriptionType":"manual","toolDescription":"Utiliza esta herramienta para crear nuevos eventos, para los attendees siempre envia a mino_milton@yahoo.com ","calendar":{"__rl":true,"value":"sidesoftpmo@gmail.com","mode":"list","cachedResultName":"sidesoftpmo@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}","xcifuentes@alldigital-marketing.com"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,240],"id":"fa7903f5-8ef1-40ec-bb6b-2c81703d3799","name":"Agendamiento","credentials":{"googleCalendarOAuth2Api":{"id":"MpsSdgEhzrImkHff","name":"Google Calendar account 2"}}},{"parameters":{"method":"POST","url":"http://46.202.177.39:4080/api/messages/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer linea1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code').item.json.numero }}"},{"name":"body","value":"={{ $('Orquestador').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,-208],"id":"bcef2827-5a64-45c4-816c-ecc20f05fc2d","name":"Response"},{"parameters":{"toolDescription":"Agente encargado del agendamiento de citas","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=Eres un asistente especializado en agendamiento de citas. La fecha actual es {{ $now }}.\n\nTu funci贸n es la siguiente:\n\nNo debes verificar disponibilidad en ning煤n caso. Agenda la cita directamente con la herramienta Agendamiento, sin importar si existen otros eventos en ese horario.\n\nUtiliza siempre la herramienta Agendamiento para crear nuevos eventos de citas.\ncada  cita tiene una duracion de 60 minutos\n\nUna vez creada la cita, genera autom谩ticamente un comunicado formal de confirmaci贸n que incluya:\n\nFecha y hora de la cita.\n\nNombre de la persona o entidad con quien se agenda.\n\nLugar o medio de la reuni贸n (si est谩 disponible).\n\nMensaje breve de confirmaci贸n con tono cordial y profesional.\n\n Ejemplo de Comunicado de Confirmaci贸n de Cita\n\n\nHola [Nombre del usuario],\n\nSe confirma la programaci贸n de su cita para el d铆a martes 24 de septiembre de 2025 a las 15h00, con [Nombre de la persona/谩rea/entidad correspondiente], a trav茅s de videollamada en Google Meet.\n\nPor favor, aseg煤rese de estar disponible en la fecha y hora indicadas. En caso de requerir un cambio o cancelaci贸n, le solicitamos notificar con anticipaci贸n.\n\nQuedamos atentos a su asistencia."}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1104,0],"id":"a76de598-c1d7-4a59-934d-7e57c3beddc8","name":"Agendamiento2"},{"parameters":{"promptType":"define","text":"=Peticion del usuario: {{ $('Edit Fields').item.json.peticion }}\ncontexto:{{ $('Edit Fields').item.json.contexto }}\nusuario:{{ $('Edit Fields').item.json.nombre }}","options":{"systemMessage":"=eres el agente orquestador para agendamiento de citas y para envio de mensajes al whatsapp, la fecha actal es {{ $now }}\n\nSolo recibiras 2 peticiones\n\n1. Realiza el agendamiento de una cita con la siguiente informacion, que corresponde a agendaimento de una cita\n\n2. Enviar informaci贸n al usuario, que corresponde a enviar informacion al usuario, para este caso simplemente procesa el contexto {{ $('Edit Fields').item.json.contexto }}, dale un formato adecuado para el envio y procede al siguiente nodo, para el caso de precios siempre transforma a numero en el caso de que sea texto para un mejor entendimiento, cuando pida la informacion de un paquete o destino usa el siguiete formato de ejemplo de envio:\n\n隆Hola \"Usuario\"! Te comparto la informaci贸n sobre el paquete a \"Destino\":\n\n*Paquete a Manta*\n\n*   *Duraci贸n:* Cuatro d铆as y tres noches\n*   *Personas:* Dos personas\n*   *Precio:* 898 d贸lares\n\n*El paquete incluye:*\n\n*   Alojamiento en Wyndham Manta Sail\n*   Alimentaci贸n All Inclusive\n*   Uso de instalaciones hoteleras\n\n*El paquete NO incluye:*\n\n*   Vuelos\n\n*Condiciones:*\n\n*   *Vigencia:* 24 meses\n*   Requiere reserva anticipada\n*   No aplica en festivos.\n\nRespeta el formato de salida del mensaje de cada subagente ya que se enviara al usuario complementa pero no lo cambies\n\nSubAgentes disponibles\n\nAgente Agendamiento, especializado en el agendamiento de citas\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[896,-208],"id":"52c3e796-55c1-492c-b058-4baa50f216de","name":"Orquestador"},{"parameters":{"assignments":{"assignments":[{"id":"4a950d6c-f80a-4c6c-a83e-004acb1231cf","name":"contexto","value":"={{ $('messagingTool').item.json.body.contexto }}","type":"string"},{"id":"7c2abbc2-f8a5-41e1-b110-a5cacebcece1","name":"nombre","value":"={{ $('messagingTool').item.json.body.nombre }}","type":"string"},{"id":"aeec1c9c-071b-49d8-810e-28dcf3d82312","name":"numero","value":"={{ $('messagingTool').item.json.body.numero }}","type":"string"},{"id":"811930cb-dfeb-4127-95a4-e9c8760e02c9","name":"peticion","value":"={{ $('messagingTool').item.json.query.Peticion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-208],"id":"9e68ec6a-ed3f-4233-9ab1-ff4b20aa33d6","name":"Edit Fields"},{"parameters":{"jsCode":"return [\n  { json: { numero: \"0987525109\" } },\n  { json: { numero: \"0999027977\" } }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,-208],"id":"a0d56f48-0ae7-44cf-9aaa-47eac0a14ffc","name":"Code"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[976,208],"id":"42a46ea9-b802-430b-b7d4-291f8ccfa31c","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"g7ydfHGBHLYsYXKZ","name":"Gemino MM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,0],"id":"0030dc9a-bf70-4b8a-8837-3571cb533d03","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"g7ydfHGBHLYsYXKZ","name":"Gemino MM"}}}],"connections":{"messagingTool":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Agendamiento":{"ai_tool":[[{"node":"Agendamiento2","type":"ai_tool","index":0}]]},"Agendamiento2":{"ai_tool":[[{"node":"Orquestador","type":"ai_tool","index":0}]]},"Orquestador":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Orquestador","type":"main","index":0}]]},"Code":{"main":[[{"node":"Response","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agendamiento2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Orquestador","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2be96524-a9e4-4192-9f9c-ea45f098b03f","triggerCount":1,"shared":[{"createdAt":"2025-09-20T23:34:03.586Z","updatedAt":"2025-09-20T23:34:03.586Z","role":"workflow:owner","workflowId":"vO60dJE1wFlwi0SG","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}