PMO/respaldar-workflows-en-github-tAiZG1RJBrbevUTB.json
{"createdAt":"2025-10-16T19:44:16.642Z","updatedAt":"2025-10-17T16:35:19.000Z","id":"tAiZG1RJBrbevUTB","name":"respaldar workflows en github","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"568456fe-1d28-421e-a761-bf93eebd45e3","name":"Captura de Workflows1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2304,-1200],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"YzfmRErNYdjygScs","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1856,-1200],"id":"2c4bb6cd-8a86-48d9-8fa6-4afd144ac8b4","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1632,-1472],"id":"3e5ea5d4-22a9-4a3d-afbe-76a9ef3cd642","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3200,-1200],"id":"33ed3ff2-6861-4100-9c05-1e6471ac1158","name":"Nodo Programado1"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"b85d5fc5-85fb-4365-b8a9-71d2ebfc80cc","name":"Actualizador de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-448,-1200],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}},"disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{$json.content.path.replace('/README.md','').replace('PMO','').replace('/','') }}.json","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"44391feb-69fa-4a6a-955a-b43cf6c63cad","name":"Uploader de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-464,-688],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"X7OH","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"PruebasN8N","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2976,-1200],"id":"5f68d721-5c82-4b77-92be-987372fc1574","name":"Establecer campos1"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"PMO/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-2752,-1200],"id":"896cab04-82ce-43a1-b3c8-4dc51e0fb1d5","name":"Listar archivos1","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"661b94fd-b1ec-43c6-8985-744cc14460f4","name":"Convertir a binario1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-2080,-1200]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"3ed97a9c-4dd1-45de-9641-8d2965ce022a","name":"Si existe1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1632,-1280]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2528,-1200],"id":"2898b539-18ea-48c4-b890-ec3f2d682c31","name":"Combinar archivos1"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"=PMO/Test/README.md","binaryData":true,"binaryPropertyName":"={{ $json.keys() }}","commitMessage":"=Inicio Versionamiento Readme.md"},"id":"edb9d466-8e22-4fa8-9394-6721a3714bf3","name":"Uploader de Directorios1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-848,-784],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"d2eefe3a-f1a4-40e5-abc4-4129b877fdea","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2592,464],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"YzfmRErNYdjygScs","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2144,464],"id":"2d836614-5873-4eb4-bef6-c3293fffb92b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1920,192],"id":"92bfa2bf-d927-480b-bce0-3951b8032a4f","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3488,464],"id":"bd93e85d-52fb-4067-96c0-5eb3c0104666","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"=PMO/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"051d36e7-902e-4421-9c1e-224039a0b143","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1664,480],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"=PMO/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"015b5a8b-49cc-4b5d-8abf-277c60b2d5d0","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1696,656],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"X7OH","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"PruebasN8N","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3264,464],"id":"b2b70879-3cef-4faa-8c17-62a932e355e1","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"/PMO"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-3040,464],"id":"6dd35e87-dd23-4404-98eb-53559f4aeaba","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"9cae5ea7-6bc3-44e4-aaf3-e9fe32d38015","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-2368,464]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"bfc0da3e-c286-4059-b9d2-934de605ed86","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1920,384]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2816,464],"id":"9a25ad87-6bb9-4839-bac8-0015146a8318","name":"Combinar archivos"},{"parameters":{"assignments":{"assignments":[{"id":"0bc43db0-60c2-4901-b342-5d152d230767","name":"Description","value":"=Flujo de {{ $binary.data.fileName.replace('.json','')}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1264,-784],"id":"86da2b90-8e0d-4209-a3a5-3cb10f289548","name":"Edit Fields"},{"parameters":{"mode":"jsonToBinary","destinationKey":"={{ $json.Description }}","options":{"fileName":"=README.md"}},"id":"106f87c3-8ade-4460-b244-7ea5f3d5a116","name":"ConvertirabinarioReadme","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1072,-784]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"},"filePath":"PMO/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1472,-784],"id":"ef6515a5-5004-44cc-989c-86de7dec8dff","name":"Listar archivos2","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"wIGrIagFebYUr6J9","name":"GitHub account"}},"onError":"continueRegularOutput"}],"connections":{"Captura de Workflows1":{"main":[[{"node":"Convertir a binario1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Si existe1","type":"main","index":0}]]},"Nodo Programado1":{"main":[[{"node":"Establecer campos1","type":"main","index":0}]]},"Actualizador de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Uploader de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Establecer campos1":{"main":[[{"node":"Listar archivos1","type":"main","index":0}]]},"Listar archivos1":{"main":[[{"node":"Combinar archivos1","type":"main","index":0}]]},"Convertir a binario1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Si existe1":{"main":[[{"node":"Actualizador de Archivos1","type":"main","index":0}],[{"node":"Listar archivos2","type":"main","index":0}]]},"Combinar archivos1":{"main":[[{"node":"Captura de Workflows1","type":"main","index":0}]]},"Uploader de Directorios1":{"main":[[{"node":"Uploader de Archivos1","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ConvertirabinarioReadme","type":"main","index":0}]]},"ConvertirabinarioReadme":{"main":[[{"node":"Uploader de Directorios1","type":"main","index":0}]]},"Listar archivos2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46c96972-70ef-4c0d-9933-1f41e1869b4c","triggerCount":0,"shared":[{"createdAt":"2025-10-16T19:44:16.650Z","updatedAt":"2025-10-16T19:44:16.650Z","role":"workflow:owner","workflowId":"tAiZG1RJBrbevUTB","projectId":"Bev2pwmvUzes1BM7"}],"tags":[]}